<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{if $ret}{$ret['title']}{else}商品详情{/if} - {obj('base/Base')->SEO('index_title')}</title>
<link rel="stylesheet" href="{__PUBLIC__}web/css/smzdm.css">
</head>
<body>
{include file="app/index/view/index/topheader"}

<div class="smz-main">
  <div class="smz-feed">
    {if $ret}
    <article class="smz-card sres-detail">
      <div class="sres-detail-img"><img src="{$ret['mainPic']}" alt="{$ret['title']}"></div>
      <div class="sres-detail-body">
        <span class="sres-badge sres-{$platform}">{if $platform=='taobao'}淘宝{elseif $platform=='jd'}京东{elseif $platform=='pdd'}拼多多{elseif $platform=='vip'}唯品会{else}{$platform}{/if}</span>
        <h1 class="sres-detail-title">{$ret['title']}</h1>
        <div class="sres-detail-price">
          <span class="smz-price"><small>券后 ¥</small>{$ret['actualPrice']}</span>
          {if $ret['originalPrice']}<span class="sres-detail-origin">¥{$ret['originalPrice']}</span>{/if}
          {if $ret['couponPrice']}<span class="smz-coupon">领{$ret['couponPrice']}元券</span>{/if}
        </div>
        {if $ret['shopName']}<div class="sres-detail-meta">店铺：{$ret['shopName']}</div>{/if}
        {if $ret['monthSales']}<div class="sres-detail-meta">月销：{$ret['monthSales']}</div>{/if}
        <div class="sres-detail-actions">
          {if $ret['itemLink']}
          <a class="smz-card-btn" href="{$ret['itemLink']}" target="_blank" rel="nofollow">去购买 &gt;</a>
          {elseif $ret['couponLink']}
          <a class="smz-card-btn" href="{$ret['couponLink']}" target="_blank" rel="nofollow">领券购买 &gt;</a>
          {else}
          <span class="sres-detail-nolink">该平台暂未返回购买链接</span>
          {/if}
          <a class="sres-detail-back" href="javascript:history.back();">返回</a>
        </div>
      </div>
    </article>
    {else}
    <div class="sres-empty">{$errmsg}</div>
    <div class="sres-detail-actions"><a class="sres-detail-back" href="javascript:history.back();">返回</a></div>
    {/if}
  </div>
  {include file="app/index/view/index/sidemod"}
</div>

{include file="app/index/view/index/footerjs"}
{include file="app/index/view/index/footer"}
