<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$ret['title']} | {obj('base/Base')->SEO('index_title')}</title>
<link rel="stylesheet" href="{__PUBLIC__}web/css/smzdm.css">
</head>
<body>
{include file="app/index/view/index/topheader"}

<div class="smz-main">
  <div class="smz-feed">
    <article class="smz-detail">
      <div class="smz-detail-img">{$newbody}</div>
      <div class="smz-detail-body">
        <h1 class="smz-detail-title">{$ret['title']}</h1>
        <div class="smz-detail-meta">分类：{obj('index/global','controller')->Cid($ret['cid'])} &nbsp; 发布：{obj('api/Api')->mdate($ret['createTime'])}</div>
        <div class="smz-detail-text">{$ret['desc']}</div>
        <a class="smz-detail-buy" href="{url($route='index/redirect/go/platform/<platform>/id/<id>', $params=array('platform'=>'tb', 'id'=>$ret['goodsId']))}" target="_blank" onmousedown="xlog('{$ret['goodsId']}','detailbtn')">前往购买 &gt;</a>
      </div>
    </article>
  </div>
  {include file="app/index/view/index/sidemod"}
</div>

{include file="app/index/view/index/footerjs"}
{include file="app/index/view/index/footer"}
