<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: scroll;" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{obj('base/Base')->SEO('index_keywords')}" />
<meta name="description" content="{obj('base/Base')->SEO('index_dec')}" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta property="wb:webmaster" content="9404f82f9a6b0829">
<link rel="stylesheet" href="{__PUBLIC__}web/css/jquery-ui.css">
<link media="all" rel="stylesheet" type="text/css" href="{__PUBLIC__}web/css/style.css">	
<title>{$ret['goods_name']} | {obj('base/Base')->SEO('index_title')}</title>
		<link media="all" rel="stylesheet" type="text/css" href="{__PUBLIC__}web/css/detailfix.css?v=201710191950" />
        
        {include file="app/index/view/index/devjs"}	
<script>browserRedirect("{url($route='index/m/view/id=<id>', $params=array('id'=>$view['id']))}");</script>
		</head>
	<body>
		<div id="wrapper">
			<div id="popuplayer"></div>
{include file="app/index/view/index/topheader"}	
    <div id="main">
            					<div class="clear"></div>
				<div class="mainleft" id="mainleft">
				    {include file="app/index/view/index/nav"}
										<div class="areatitle"  >
						<a "" ><span class="blockstart"></span></a>
						<div class="dinfo">
							<span class="dinfotext" style="margin-left:3px;">分类:{$ret['pf_cname']}</span>
																<span class="dinfotext">标题：{$ret['goods_name']}</span>
																
														<span class="dinfotext">销量：{$ret['sales']}件</span>
														<span class="dinfoweibo">
                                                        
                                                        
                                                        </span>
						</div>
					</div>
										<div class="detaildisplay">

												<!--div class="dtitle" style="width: 700px">
																		{$view['title']}					
						</div>
						
						<a isconvert="1" class="dtitlegotobuy" onmousedown="xlog('{$view['id']}','detailtitlebuy')" href="{url($route='go/to/url/id=<id>', $params=array('id'=>$view['id']))}" target="_blank">
							<span class="dtitlegotobuyword">直达链接&nbsp;&gt;</span>
						</a-->
												<div class="clear"></div>
																		<div class="clear"></div>
												<div class="clear"></div>
												<div class="dabstract" id="dabstract">
												
														<div class="mdbcontent">{$newbody}</div></div>
							
												<div class="clear"></div>
												<!--<div class="dabstract"></div>
						<div class="clear"></div>-->
												<!--<div class="dabstract" id="dbottomad"></div>
							<div class="clear"></div>-->
												<!--<div class="dabstract" id="dbottomad"></div>
							<div class="clear"></div>-->
												
						



												<a class="dgotobutton" isconvert="1" id="dgotobutton" onmousedown="xlog('{$ret['goods_id']}','detailbtn')" href="{url($route='go/to/wjp/id=<id>/type=<type>', $params=array('id'=>$ret['goods_id'],'type'=>$_GET['type']))}" target="_blank"><span class="dgotobuttonword">前往购买»</span></a>
												
														<div class="clear"></div>
								<div class="dhotnotice">
									<span style="margin-left:10px;"><b>温馨提示：</b>热门榜单由用户点击自动生成，有一定滞后性。如遇商品无货或涨价，敬请谅解。欢迎到首页关注最新折扣！</span>
								</div>
													</div>
					



				</div>
				<div class="mainright" id="mainright">
			

<div class="clear"></div>
{include file="app/index/view/index/list"}
</div>	<div class="clear"></div>	
</div>
            {include file="app/index/view/index/popnav"}
            {include file="app/index/view/index/footerjs"}
	{include file="app/index/view/index/footer"}
