<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{$ret['goodsName']} | {obj('base/Base')->SEO('index_title')}</title>
<link rel="stylesheet" href="{__PUBLIC__}web/css/smzdm.css">
</head>
<body>
{include file="app/index/view/index/topheader"}

<div class="smz-main">
  <div class="smz-feed">
    <article class="smz-detail">
      <div class="smz-detail-img">{$body}</div>
      <div class="smz-detail-body">
        <h1 class="smz-detail-title">{$ret['goodsName']}</h1>
        <div class="smz-detail-meta">分类：{$ret['cat1stName']} &nbsp; 唯品价：¥{$ret['vipPrice']}</div>
        <div class="smz-detail-text"></div>
        <a class="smz-detail-buy" href="{url($route='index/view/detail/id=<id>', $params=array('id'=>$ret['goodsId'], 'type'=>'vip'))}" target="_blank" onmousedown="xlog('{$ret['goodsId']}','detailbtn')">前往购买 &gt;</a>
      </div>
    </article>
  </div>
  {include file="app/index/view/index/sidemod"}
</div>

{include file="app/index/view/index/footerjs"}
{include file="app/index/view/index/footer"}
