	<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>{$pagetext['0']} - ZhiCms!</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{__PUBLIC__}assets/css/bootstrap.min.css" />
		<link rel="stylesheet" href="{__PUBLIC__}assets/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
	

		<!-- ace styles -->
		<link rel="stylesheet" href="{__PUBLIC__}assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{__PUBLIC__}assets/css/ace-skins.min.css" />
		<link rel="stylesheet" href="{__PUBLIC__}assets/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="{__PUBLIC__}assets/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="{__PUBLIC__}assets/js/html5shiv.min.js"></script>
		<script src="{__PUBLIC__}assets/js/respond.min.js"></script>
		<![endif]-->
         <link rel="stylesheet" href="{__PUBLIC__}assets/style.css" />
         <style>
		 .nav-search{display:none}
		 a:hover{text-decoration:none}
		 </style>
	</head>

	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default          ace-save-state">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>

					<span class="icon-bar"></span>
				</button>

				<div class="navbar-header pull-left">
					<a href="index.html" class="navbar-brand">
						<small>
							<i class="fa fa-leaf"></i>
							ZhiCms
						</small>
					</a>
				</div>

				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						

						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{$_SESSION['manage_pic']}" alt="Jason's Photo" />
								<span class="user-info">
									<small>您好,</small>
									{$_SESSION['manage_system']}
								</span>

								<i class="ace-icon fa fa-caret-down"></i>
							</a>

							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
												
									<a onclick="ZhiCmsConfirm('确定要清除缓存吗？','是的','取消','index.php?r=manage/index/delcache','清除缓存中...')">
										<i class="ace-icon fa fa-cog"></i>
										清除缓存
									</a>
								</li>

								

								<li class="divider"></li>

								<li>
									<a href="index.php?r=manage/login/loginout">
										<i class="ace-icon fa fa-power-off"></i>
										退出账户
									</a>
								</li>
								
							</ul>
						</li>
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>

		<div class="main-container ace-save-state" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div id="sidebar" class="sidebar                  responsive                    ace-save-state">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>

				<div class="sidebar-shortcuts" id="sidebar-shortcuts"  style="min-height:0px">
					

					
				</div><!-- /.sidebar-shortcuts -->
    
    <ul class="nav nav-list">
					<li <? if(CONTROLLER_NAME=='index'   ){?> class="active" <?}?> >
						<a href="index.php?r=manage/index/index">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> 仪表盘 </span>
						</a>

						<b class="arrow"></b>
					</li>

					

					<!--li  <? if(CONTROLLER_NAME=='user'   ){?> class="open" <?}?>>
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon glyphicon glyphicon-user"></i>
							<span class="menu-text"> 用户管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li <? if(CONTROLLER_NAME=='user'  && ACTION_NAME=='index'  || ACTION_NAME=='adduser' || ACTION_NAME=='editoruser'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/user/index">
									<i class="menu-icon fa fa-caret-right"></i>
									用户列表
								</a>

								<b class="arrow"></b>
							</li>
                            
                            
                           
                            <li c<? if(CONTROLLER_NAME=='user'  && ACTION_NAME=='comment'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/user/comment">
									<i class="menu-icon fa fa-caret-right"></i>
									评论管理
								</a>

								<b class="arrow"></b>
							</li>
                           
						
						</ul>
					</li-->
                   <li <? if(CONTROLLER_NAME=='find'   ){?> class="open" <?}?>>
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-flask"></i>
							<span class="menu-text"> 发现管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li <? if(CONTROLLER_NAME=='find'  && ACTION_NAME=='index' || ACTION_NAME=='addarticle' || ACTION_NAME=='editorarticle' ){?> class="active"  <?}?>>
								<a href="index.php?r=manage/find/index">
									<i class="menu-icon fa fa-caret-right"></i>
									文章管理
								</a>

								<b class="arrow"></b>
							</li>
                            <!--li <? if(CONTROLLER_NAME=='find'  && ACTION_NAME=='type' || ACTION_NAME=='addtype' || ACTION_NAME=='editortype' ){?> class="active"  <?}?>>
								<a href="index.php?r=manage/find/type">
									<i class="menu-icon fa fa-caret-right"></i>
									分类管理
								</a>

								<b class="arrow"></b>
							</li-->
                            
                          
                         
                           
						
						</ul>
					</li>
                    
                        <li class="<? if(CONTROLLER_NAME=='items'  ){?> open  <?}?>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon fa fa-folder"></i>
							<span class="menu-text">商品管理</span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li <? if(CONTROLLER_NAME=='items'  && ACTION_NAME=='index' || ACTION_NAME=='additems'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/items/index">
									<i class="menu-icon fa fa-caret-right"></i>
									
									天猫淘宝
								</a>

								<b class="arrow"></b>
							</li>
                            
<!--li <? if(CONTROLLER_NAME=='items'  && ACTION_NAME=='type'  ||  ACTION_NAME=='addtype' || ACTION_NAME=='editortype'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/items/type">
									<i class="menu-icon fa fa-caret-right"></i>
									版块管理
								</a>

								<b class="arrow"></b>
							</li>
                            
                            <li <? if(CONTROLLER_NAME=='items'  && ACTION_NAME=='mall' ||  ACTION_NAME=='addmall' || ACTION_NAME=='editormall'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/items/mall">
									<i class="menu-icon fa fa-caret-right"></i>
									商城活动
								</a>

								<b class="arrow"></b>
							</li>
                            
                             <li <? if(CONTROLLER_NAME=='items'  && ACTION_NAME=='union' || ACTION_NAME=='editorunion' || ACTION_NAME=='addunion'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/items/union">
									<i class="menu-icon fa fa-caret-right"></i>
									更多联盟
								</a>

								<b class="arrow"></b>
							</li-->

						
						</ul>
					</li>


					<li class="<? if(CONTROLLER_NAME=='caiji'  ){?> open  <?}?>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon   fa fa-flag"></i>
							<span class="menu-text"> 采集管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li <? if(ACTION_NAME=='indedx' ){?> class="active"  <?}?>>
								<a href="index.php?r=manage/caiji/index">
									<i class="menu-icon fa fa-caret-right"></i>
									宝贝采集
								</a>

								<b class="arrow"></b>
							</li>
							<li  <? if(ACTION_NAME=='union'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/caiji/find">
									<i class="menu-icon fa fa-caret-right"></i>
									文案采集
								</a>

								<b class="arrow"></b>
							</li>

						
						</ul>
					</li>
                    
                    
                    
                    <li class="<? if(CONTROLLER_NAME=='set'  || CONTROLLER_NAME=='manage'  || CONTROLLER_NAME=='ad'   || CONTROLLER_NAME=='page'  ){?> open  <?}?>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon ace-icon fa fa-cog"></i>
							<span class="menu-text"> 系统管理 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu" >
						    <li<? if(CONTROLLER_NAME=='set' && ACTION_NAME=='index' || ACTION_NAME=='url' || ACTION_NAME=='seo' || ACTION_NAME=='api' || ACTION_NAME=='sms'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/set/index">
									<i class="menu-icon fa fa-caret-right"></i>
									基础设置
								</a>

								<b class="arrow"></b>
							</li>
							
							<li <? if(CONTROLLER_NAME=='manage' && ACTION_NAME=='index'  || ACTION_NAME=='addmanage' || ACTION_NAME=='editormanage'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/manage/index">
									<i class="menu-icon fa fa-caret-right"></i>
									管理员管理
								</a>
								<b class="arrow"></b>
							</li>
                            <li  <? if(CONTROLLER_NAME=='ad' && ACTION_NAME=='huan'  || ACTION_NAME=='addhuan' || ACTION_NAME=='editorhuan'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/ad/huan">
									<i class="menu-icon fa fa-caret-right"></i>
									幻灯广告
								</a>

								<b class="arrow"></b>
							</li>
                             <li  <? if(CONTROLLER_NAME=='ad' && ACTION_NAME=='link'  || ACTION_NAME=='addlink' || ACTION_NAME=='editorlink'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/ad/link">
									<i class="menu-icon fa fa-caret-right"></i>
									友情链接
								</a>

								<b class="arrow"></b>
							</li>
                             <li  <? if(CONTROLLER_NAME=='page' && ACTION_NAME=='index' || ACTION_NAME=='addpage'  ){?> class="active"  <?}?>>
								<a href="index.php?r=manage/page/index">
									<i class="menu-icon fa fa-caret-right"></i>
									单页管理
								</a>

								<b class="arrow"></b>
							</li>
                            

							
						</ul>
					</li>
                    
                    
                    
                    <li class="<? if(CONTROLLER_NAME=='plug'  && 	ACTION_NAME=='index'  ){?> open  <?}?>">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon  fa fa-cloud"></i>
							<span class="menu-text"> 插件模块 </span>

							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu" >
							<li <? if(CONTROLLER_NAME=='plug' && ACTION_NAME=='index'){?> class="active"  <?}?>>
								<a href="index.php?r=manage/plug/index">
									<i class="menu-icon fa fa-caret-right"></i>
									插件模块
								</a>

								<b class="arrow"></b>
							</li>
                     
							
						</ul>
					</li>
                    
					
				</ul><!-- /.nav-list -->