

			  {include file="app/plug/view/giftmanage/nav"}
              
  <style>
  .closebtn{width:30px; height:30px; position:absolute; background:#F00; border-radius:30px; cursor:pointer; margin-top:-20px; margin-left:80px; text-align:center}
  .closebtn i{color:#FFF; font-size:14px; margin-top:7px;}
  </style>
  <link rel="stylesheet" type="text/css" href="{__PUBLIC__}gift/select/css/multi-select.css">
  
  
<link rel="stylesheet" href="{__PUBLIC__}assets/css/chosen.min.css" />

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.php?r=manage/index/index">首页</a>
							</li>
							<li class="active">{$pagetext['0']}</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
                    <div class="page-header">
							<h1>
								{$pagetext['0']}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{$pagetext['1']}
								</small>
							</h1>
						</div>
                        <div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">{$pagetext['1']}</h4>
												</div>

												<div class="widget-body">
													<div class="widget-main">
												
											</div>
                 
									<div class="widget-body">
													<div class="widget-main">
                                                    

														<div>
															<label  class="formtitle" for="form-field-8">攻略标题</label>

														<input type="text" name="title" id="title" value="{$ret['title']}" placeholder="宝贝名称" class="form-control">
														</div>
                                                        
                                                      
														
														<hr>
                                                        
                                                        	<div>
															<label  class="formtitle"  for="form-field-11">封面</label>

<div class="closebtn" tupian="tupian"><i class="ace-icon glyphicon glyphicon-trash"></i></div>
											<div class="uploadimg tupian" onClick="upthis()">
                                              {if !$ret['pic']}
                                              <i class="ace-icon fa fa-cloud-upload"></i>
                                              <dt>450*450</dt>
                                              {else}
                                              <img src="{$ret['pic']}" />
                                              {/if}
                                              
                                            </div>
										</div>
                                        <input type="text" class="form-control" name="pic" id="tupian"   value="{$ret['pic']}" style="display:none" >
                                                 <input type="file"  name="file"  id="up_tupian"  onChange="Uploadthis('tupian','up_tupian')" style="display:none"  >
                                                 
                                              

													<hr />
                                                	<div>
															<label  class="formtitle" for="form-field-8">送给谁</label>

														
														<select class="chosen-select form-control" id="gonglue_send" data-placeholder="Choose a State..." name="gonglue_send">
																<option value="0">请选择送给谁</option>
                                                                {foreach $plug_gift_gonglue_send as $vs}
                                                                
																<option {if $ret['gonglue_send']==$vs['id']} selected="selected" {/if} value="{$vs['id']}">{$vs['name']}</option>
                                                               
                                                                {/foreach}
														
															</select>

														</div>
														
													<hr />
                                                	<div>
															<label  class="formtitle" for="form-field-8">为啥送</label>

															<select class="chosen-select form-control" id="gonglue_whysend" data-placeholder="Choose a State..." name="gonglue_whysend">
																<option value="0">请选择为啥送</option>
                                                                {foreach $plug_gift_gonglue_whysend as $vs}
                                                                
																<option {if $ret['gonglue_whysend']==$vs['id']} selected="selected" {/if} value="{$vs['id']}">{$vs['name']}</option>
                                                               
                                                                {/foreach}
														
															</select>
														</div>
														
														<hr>
                                                      
                                                	<div>
															<label  class="formtitle" for="form-field-8">节日</label>

														<select class="chosen-select form-control" id="gonglue_sendtime" data-placeholder="Choose a State..." name="gonglue_sendtime">
																<option value="0">请选择为啥送</option>
                                                                {foreach $plug_gift_gonglue_sendtime as $vs}
                                                                
																<option {if $ret['gonglue_sendtime']==$vs['id']} selected="selected" {/if} value="{$vs['id']}">{$vs['name']}</option>
                                                               
                                                                {/foreach}
														
															</select>

														</div>
														
														<hr>
                                                
                                                
                                                 	<div>
															<label  class="formtitle" for="form-field-8">文案说明</label>

												<textarea class="form-control" id="wa"   name="wa" style="height:150px;">{$ret['wa']}</textarea>
														</div>
                                                        
                                                        	<hr>
                                                
                                                
                                                 	<div>
															<label  class="formtitle" for="form-field-8">内容</label>

												<div class="layui-form-item">
  <textarea id="adddom" name="body" style="display: none;">{$ret['mybody']}</textarea>
  </div>
														</div>
                                                
                                              
                                                
                                                
                                                 </div>
													

								{$html}
                                
                                <div class="clearfix form-actions"  style="margin-bottom:-0px;" >
										<div class="col-md-offset-1 col-md-9">
											<input type="submit"  class="btn btn-info " id="save"  onclick="SendPost()" value="保存" />

											&nbsp; &nbsp; &nbsp;
											<a href="index.php?r=plug/giftmanage/strategy"><button class="btn"  type="button">
												
												返回列表
											</button></a>
										</div>
									</div>
                                    
                                                   </div>
								
                               
			

			<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{__PUBLIC__}assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{__PUBLIC__}assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{__PUBLIC__}assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
        <script src="{__PUBLIC__}assets/js/ace-extra.min.js"></script>
	<!-- ace scripts -->
	<!--[if !IE]> -->
		<script src="{__PUBLIC__}assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='{__PUBLIC__}assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{__PUBLIC__}assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{__PUBLIC__}assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{__PUBLIC__}assets/js/jquery-ui.custom.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="{__PUBLIC__}assets/js/bootbox.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.easypiechart.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.gritter.min.js"></script>
		<script src="{__PUBLIC__}assets/js/spin.js"></script>

		<!-- ace scripts -->
		<script src="{__PUBLIC__}assets/js/ace-elements.min.js"></script>
		<script src="{__PUBLIC__}assets/js/ace.min.js"></script>
        
        




		<!-- inline scripts related to this page -->
        <link rel="stylesheet" href="{__PUBLIC__}global/message/css/jquery.my-message.1.1.css" />
		<script type="text/javascript" src="{__PUBLIC__}global/message/js/jquery.my-message.1.1.js"></script>
        <script src="{__PUBLIC__}global/layer/layer.js"></script>
        <script src="{__PUBLIC__}assets/js/chosen.jquery.min.js"></script>
        <script src="{__PUBLIC__}global/js/Validform_v5.3.2_min.js"></script>
        <script src="{__PUBLIC__}global/js/ajaxfileupload.js"></script>
        <link href="{__PUBLIC__}index/weget/layui/css/layui.css" rel="stylesheet" type="text/css" />
        <style>
		hr{ margin-top:20px; margin-bottom:20px;}
		.layui-form-label{ padding:0px; margin-top:10px;}
		</style>
          <script type="text/javascript" src="{__PUBLIC__}index/weget/layui/layui.js"></script>
        <script src="{__PUBLIC__}global/js/index.js"></script>
        
 
      

		<script>



		//ZhiForm("#form","index.php?r=plug/gift/giftlist","保存中","保存","null");
		//ajax上传
	Uploadthis=function(obj,thisid){
	  layer.load(2);
		$.ajaxFileUpload({  
				url:'index.php?r=manage/File/gonglue',  
				secureuri:false,  
				fileElementId:thisid,//file标签的id  
				dataType: 'json',//返回数据的类型    
				success: function (data, status) {  
				   $("#"+obj).val(data.url);
				   $('.'+obj).html('<img src="'+data.url+'">');
				   layer.closeAll('loading');
				}
			});  	
		
		}
	function upthis(){
	document.getElementById("up_tupian").click(); 	
     }
	 function upthis2(){
	document.getElementById("up_tupian2").click(); 	
     }
	 
	  function upthis3(){
	document.getElementById("up_tupian3").click(); 	
     }
	 
	  function upthis4(){
	document.getElementById("up_tupian4").click(); 	
     }
if(!ace.vars['touch']) {
					$('.chosen-select').chosen({allow_single_deselect:true}); 
					//resize the chosen on window resize
			
					$(window)
					.off('resize.chosen')
					.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							 var $this = $(this);
							 $this.next().css({'width': $this.parent().width()});
						})
					}).trigger('resize.chosen');
					//resize chosen on sidebar collapse/expand
			
			
			
				
				}

</script>
 <script>
layui.use(['form', 'layedit', 'laydate'], function(){
   form = layui.form
  ,layer = layui.layer
  ,layedit = layui.layedit
  ,laydate = layui.laydate;
  
   
  
   //创建一个编辑器
   editIndex = layedit.build('adddom', {
  tool: ['strong','del','left', 'center', 'right', '|', 'face','|','link']
});   

 
  
});


function SendPost(){

 var title=$("#title").val();
 var tupian=$("#tupian").val();
  var gonglue_send=$("#gonglue_send").val();
  var gonglue_whysend=$("#gonglue_whysend").val();
  var gonglue_sendtime=$("#gonglue_sendtime").val();
  var wa=$("#wa").val();
  {if ACTION_NAME=='editorstrategy'}
  var id=$("#id").val();
  {/if}
 var mybody=layedit.getContent(editIndex);

 $.ajax({
		 url:'{$url}',
         type: 'post',
		 data:{title:title,pic:tupian,gonglue_send:gonglue_send,gonglue_whysend:gonglue_whysend,gonglue_sendtime:gonglue_sendtime,wa:wa,mybody:mybody{if ACTION_NAME=='editorstrategy'},id:id{/if}},  
         dataType: 'json',
         success: function(data){
			if (data.status == 'y') {
				window.location.href = 'index.php?r=plug/giftmanage/strategy';
				return false;
				}else if (data.status == 'n') {
				 error(data.info);
			   return false;
			}
			
		


			
		
			 
		 }
   });	
 return false;

}
 $(".closebtn").click(function(){
		 
		  var obj=$(this).attr("tupian");
		  
		  $("."+obj).html('<i class="ace-icon fa fa-cloud-upload"></i><dt>450*450</dt>');
		  $("#"+obj).val('');
	 });

		</script>
		
	</body>
</html>
