

			 {include file="app/plug/view/giftmanage/nav"}

			 <link rel="stylesheet" href="{__PUBLIC__}assets/css/jquery-ui.min.css" />


				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.php?r=index/agent/channel">首页</a>
							</li>
							<li class="active">{$pagetext['0']}</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
                    <div class="page-header">
							<h1>
								{$pagetext['0']}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{$pagetext['1']}
								</small>
							</h1>
						</div>
                   
					
                    
                    
                    
                    <!--s-->
                 

										<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
											{include file="app/plug/view/giftmanage/setglobal"}
											<div id="tabs-1" aria-labelledby="ui-id-29" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block; padding:0px">
										<!--d-->
                                       
                   <div class="widget-box" style="border-top:0px; margin-top:-0px;">
												
												<div class="widget-body">
													<div class="widget-main">
												
											</div>
                  <form class="form-horizontal"  id="form" action="" method="post">
									<div class="widget-body">
													<div class="widget-main">
														<div>
															<label  class="formtitle" for="form-field-8">网站首页标题</label>

														<input type="text" name="index_title" id="form-field-1" value="{$ret['index_title']}" placeholder="网站首页标题" class="form-control">
														</div>

														<hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">网站首页关键字</label>

														<input type="text" name="index_keywords" id="form-field-1" value="{$ret['index_keywords']}" placeholder="网站首页关键字" class="form-control">
														</div>


														<hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">网站首页描述</label>

														<input type="text" name="index_dec" id="form-field-1" value="{$ret['index_dec']}" placeholder="网站首页描述" class="form-control">
														</div>

														<hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">送礼导航页面标题</label>

														<input type="text" name="topic_title" id="form-field-1" value="{$ret['topic_title']}" placeholder="送礼导航页面标题" class="form-control">
                                                        
														</div>

														<hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">送礼导航页面关键字</label>

														<input type="text" name="topic_keywords" id="form-field-1" value="{$ret['topic_keywords']}" placeholder="送礼导航页面关键字" class="form-control">
														</div>


<hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">送礼导航页面描述</label>

														<input type="text" name="topic_dec" id="form-field-1" value="{$ret['topic_dec']}" placeholder="送礼导航页面描述" class="form-control">
														</div>
														
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">发现页面标题</label>

														<input type="text" name="findgift_title" id="form-field-1" value="{$ret['findgift_title']}" placeholder="发现页面标题" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">发现页面关键字</label>

														<input type="text" name="findgift_keywords" id="form-field-1" value="{$ret['findgift_keywords']}" placeholder="发现页面关键字" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">发现页面描述</label>

														<input type="text" name="findgift_dec" id="form-field-1" value="{$ret['findgift_dec']}" placeholder="发现页面描述" class="form-control">
														</div>
                                                        
                                                    
                                                       <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">攻略页面标题</label>

														<input type="text" name="gl_title" id="form-field-1" value="{$ret['gl_title']}" placeholder="发现页面标题" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">攻略页面关键字</label>

														<input type="text" name="gl_keywords" id="form-field-1" value="{$ret['gl_keywords']}" placeholder="发现页面关键字" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">攻略页面描述</label>

														<input type="text" name="gl_dec" id="form-field-1" value="{$ret['gl_dec']}" placeholder="发现页面描述" class="form-control">
														</div>
                                                                <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">发现页面描述</label>

														<input type="text" name="findgift_dec" id="form-field-1" value="{$ret['findgift_dec']}" placeholder="发现页面描述" class="form-control">
														</div>
                                                        
                                                    
                                                       <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">问答页面标题</label>

														<input type="text" name="q_title" id="form-field-1" value="{$ret['q_title']}" placeholder="发现页面标题" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">问答页面关键字</label>

														<input type="text" name="q_keywords" id="form-field-1" value="{$ret['q_keywords']}" placeholder="发现页面关键字" class="form-control">
														</div>
                                                        <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">问答页面描述</label>

														<input type="text" name="q_dec" id="form-field-1" value="{$ret['q_dec']}" placeholder="发现页面描述" class="form-control">
														</div>
                                                        
                                                          <hr>
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">版权</label>

														<input type="text" name="banquan" id="form-field-1" value="{$ret['banquan']}" placeholder="发现页面描述" class="form-control">
														</div>
                                                        
                                                    
                                                      

														</div>

                                              

													

								{$html}
                                
                                <div class="clearfix form-actions"  style="margin-bottom:-0px;" >
										<div class="col-md-offset-1 col-md-9">
											<input type="submit"  class="btn btn-info " id="save"  value="保存" />

										
										</div>
									</div>
                                    
                                                   </div>
								
                                </form>      

                                        <!--d-->
											</div>

										
									
                    <!--s-->
                                                        </div>
								

			

			<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{__PUBLIC__}assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{__PUBLIC__}assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
        <script src="{__PUBLIC__}assets/js/ace-extra.min.js"></script>
	<!-- ace scripts -->
	<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{__PUBLIC__}assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{__PUBLIC__}assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{__PUBLIC__}assets/js/jquery-ui.custom.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="{__PUBLIC__}assets/js/bootbox.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.easypiechart.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.gritter.min.js"></script>
		<script src="{__PUBLIC__}assets/js/spin.js"></script>

		<!-- ace scripts -->
		<script src="{__PUBLIC__}assets/js/ace-elements.min.js"></script>
		<script src="{__PUBLIC__}assets/js/ace.min.js"></script>




		<!-- inline scripts related to this page -->
        <link rel="stylesheet" href="{__PUBLIC__}global/message/css/jquery.my-message.1.1.css" />
		<script type="text/javascript" src="{__PUBLIC__}global/message/js/jquery.my-message.1.1.js"></script>
        <script src="{__PUBLIC__}global/layer/layer.js"></script>
        <script src="{__PUBLIC__}assets/js/chosen.jquery.min.js"></script>
        <script src="{__PUBLIC__}global/js/Validform_v5.3.2_min.js"></script>
        <script src="{__PUBLIC__}global/js/ajaxfileupload.js"></script>
        <script src="{__PUBLIC__}global/js/index.js"></script>
        
        <script>
		ZhiForm("#form","index.php?r=plug/giftmanage/set","保存中","保存","null");
		</script>

		
	</body>
</html>
