/* 补充各来源网站内容格式 */
.editer-main-content
{
line-height:100%;!important
}

.Strategy-indent-p {
font-size: 15px;
text-indent: 2em;
margin-bottom: 20px;
line-height:120%;!important
clear:both;!important
}

.Strategy-h6 {
font-size: 15px;
font-weight: 600;
margin-bottom: 20px;
clear:both;
}

a.Strategy-bcj-pic {
display: block;
width: 180px;
overflow: hidden;
}

a.Strategy-bcj-pic img {
width: 180px;
height: 180px;
}

.Strategy-bcj-item a:hover {
text-decoration: underline;
}

ul li.Strategy-bcj-item {
width: 180px;
margin-left: 20px;
margin-right: 20px;
padding: 30px 20px;
float: left;
border-bottom: dash 1px #efefef;
background-color: #FFF;
color: #999;
font-size: 12px;!important
}

div.Strategy-bcj-detail {
width: 180px;
height: 60px;
overflow: hidden;
font-size: 12px;!important
}

a.Strategy-bcj-title {
display: block;
width: 180px;
height: 37px;
overflow: hidden;
line-height: 150%;!important
display: inline-block;!important
}

.Strategy-bcj-item a img {
width: 180px!important;
height: 180px!important;
}

.Strategy-bcj-ul .Strategy-bcj-buy {
    font-size: 13px;
    display: block;
    line-height: 27px;
    height: 29px;
    overflow: hidden;
}

.Strategy-bcj-ul .Strategy-bcj-buy a{
    font-size: 13px;
    display: block;
    line-height: 27px;
    height: 32px;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}


.Strategy-bcj-ul .Strategy-bcj-juan {
    font-weight: bold;
}

.Strategy-bcj-ul .Strategy-bcj-title {
    display: block;
    height: 40px;
    overflow: hidden;
    margin: 0 0 8px 0;
}

.Strategy-bcj-ul .Strategy-bcj-price {
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: #666;
    margin-bottom: 10px;
}

p.p_detail img 
{
max-width: 830px;!important
margin-top: 50px;
}

.ty-text p
{
text-indent: 2em;
display: block;
float: left;
margin-bottom: 15px;
}

.tb-baicai ul li 
{
padding-right: 25px;
border-bottom: 1px solid #f1f1f1;
width: 158px;
height: 250px;
overflow: hidden;
padding-bottom: 10px;
margin-bottom: 10px;
margin-right: 12px;
margin-left: 12px;
display: block;
float: left;
}

.tb-baicai ul
{
display: block;
float: left;
width: 810px;
}

.tb-baicai a
{
display: block;
float: left;
font-size: 12px;
font-weight: normal;!important
overflow: hidden;!important
}

.tb-baicai ul li b 
{
font-weight: normal;!important
display: block;
float: left;
overflow: hidden;
height: 45px;
color:#777;
}

.tb-baicai img 
{
float: left;
width: 140px;
height: 140px;
margin: 10px;
}

.tb-baicai i.c-1d9fd0
{
background: #1d9fd0;
}

.tb-baicai i
{
width: 30px;
height: 16px;
line-height: 16px;
background: #8bc144;
font-size: 12px;
color: #fff;
text-align: center;
margin-top: 2px;
margin-left: 5px;
font-style: normal;
display: block;
float: left;
}

.tb-baicai em
{
line-height: 20px;
font-size: 12px;
color: #f50;
display: block;
float: left;
}

.info-li
{
display: none;
}

.p-c-zrxb
{
display: none;
}

.go-buy
{
display: none;
}

.ty-text p
{
display: block;
clear: both;
width: 100%;
}

.siteWrap 
{
width: 820px;
clear: both;
}

.siteBlock
{
border: 1px solid #dcdcdc;

height: 210px;
}

.siteBlockPic
{
display: block;
float:left;
width:180px;
}

.sitePic
{
display: block;
overflow: hidden;
text-align: center;
float: left;
}

.siteWrap .sitePic img
{
max-width: 190px;
max-height: 190px;
}

.sitePic img
{
max-height: 190px;
max-width: 190px;
}

.siteWrap .siteBlockInfo
{
width: 598px;
}

.siteBlockInfo
{
float: left;
display: block;
width: 260px;
padding-top: 20px;
padding-left: 15px;
}

.siteWrap .siteTitle
{
line-height: 26px;
overflow: hidden;
height: auto;
max-height: 52px;
margin-bottom: 13px;
}

.siteTitle
{
line-height: 22px;
display: block;
height: 44px;
margin-bottom: 20px;
margin-top: 15px;
overflow: hidden;
}

.sitePrice .red
{
font-size: 16px;
font-weight: bold;
line-height: 25px;
padding-right: 10px;
font-family: "SimSun";
}

i, em, address, cite 
{
font-style: normal;
}

.siteWrap .grey
{
font-size: 12px;
line-height: 22px;
margin-top: 15px;
display: block;
overflow: hidden;
height: 44px;
}

.sitePrice
{
font-size: 12px;
color: #999;
}

#dabstract p strong
{
font-weight: bold;
}

.editer-goods-list-two .editer-goods-item 
{
float: left;
display:block;
width: 224px;
/*height: 340px;*/
padding: 10px;
margin: 12px 12px 12px 12px;
border: 1px solid #f9f9f9;
background: 0;
color: #333;
}

.editer-goods-list-two
{
display:block;
float: left;
}

.huihuidetail font
{
clear: both;
line-height: 34px;
}

.huihuidetail img
{
max-width: 819px!important;
}

.editer-goods-list .editer-goods-item
{
padding: 20px;
margin-bottom: 20px;
border: 1px solid #f2f2f2;
background: 0;
}

.editer-goods-list .editer-goods-item .title
{
height: 48px;
overflow: hidden;
line-height: 24px;
margin: 0;
font-family: "microsoft yahei",sans-serif;
font-size: 16px;
color: #333;
}

.editer-goods-list .editer-goods-item .goods-pic img, .editer-goods-list-two .editer-goods-item .goods-pic img
{
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
vertical-align: middle;
}

.editer-goods-list .editer-goods-item .goods-pic 
{
float: left;
}

.editer-goods-list .editer-goods-item .goods-pic 
{
display: block;
width: 190px;
height: 190px;
line-height: 190px;
overflow: hidden;
text-align: center;
}

.hui-list li 
{
margin: 15px 0 25px;
background-position: 0 bottom;
-webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
}

.editer-goods-list b
{
font-weight: normal;
}

.editer-goods-item a:hover
{
text-decoration: none;!important
}

.editer-goods-list .editer-goods-item .price
{
display: inline-block;
/*width: 95px;*/
font-family: "microsoft yahei",sans-serif;
font-size: 20px;
color: #f60;
}

.editer-goods-list .editer-goods-item .goods-info 
{
margin-left: 210px;
height: 190px;
position: relative;
font-size: 14px;
color: #999;
}

.editer-goods-list .editer-goods-item .info1 
{
margin: 20px 0 10px;
}

.editer-goods-list .editer-goods-item .info2 
{
height: 48px;
line-height: 24px;
font-size: 14px;
overflow: hidden;
text-decoration: none;
}

.editer-goods-list .editer-goods-item .to-buy 
{
position: absolute;
right: 0;
bottom: 0;
width: 70px;
line-height: 28px;
border: 1px solid #5db95b;
text-align: center;
color: #5db95b;
}

.editer-goods-list-two .editer-goods-item .goods-pic 
{
display: block;
width: 220px;
height: 220px;
line-height: 220px;
overflow: hidden;
text-align: center;
}

.editer-goods-list .editer-goods-item .goods-pic img, .editer-goods-list-two .editer-goods-item .goods-pic img 
{
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
vertical-align: middle;
}

.editer-goods-list-two .editer-goods-item .title 
{
height: 60px;
line-height: 1.5em;
overflow: hidden;
font-size: 14px;
}

.editer-goods-list-two .editer-goods-item .price 
{
float: left;
width: 120px;
font-size: 16px;
color: #f60;
text-align: left;
}

.editer-goods-list-two .editer-goods-item .info1 
{
padding-top: 10px;
height: 30px;
text-align: right;
color: #999;
}

.editer-goods-list-two .editer-goods-item .info2 
{
padding-top: 10px;
border-top: 1px solid #f9f9f9;
overflow: hidden;
font-size: 12px;
line-height: 18px;
color: #999;
}

.editer-goods-list-two .editer-goods-item .to-buy 
{
display: none;
}

#fivefivehaitao div.main
{
display: block;
width: 819px!important;
}

#fivefivehaitao div.main ul
{
display: block;
width: 819px!important;
}

#fivefivehaitao ul.sudoku-box li
{
display: block;
width: 819px!important;
}

#fivefivehaitao ul.sudoku-box li div.deal-item
{
display: block;
float: left;
width: 405px!important;
height: 450px!important;
}

#fivefivehaitao img
{
max-width: 819px!important;
}

#fivefivehaitao ul.sudoku-box li div.deal-item img
{
max-width: 300px!important;
}

#fivefivehaitao div.padding-box
{
text-align: center;
}

#fivefivehaitao div.lhbox span.used
{
text-decoration:line-through;
color: #cccccc;
margin-left: 10px;
}

.goodcms_mobile_info
{
display: block;
}

.goodcms_mobile_info .goodcms_info_img {
    padding-right: 10px;
    display: table-cell;
    vertical-align: middle;
}

.goodcms_mobile_info .goodcms_info_img img {
    width: 100px;
    margin: inherit;
}

.goodcms_info_txt {
    display: table-cell;
    vertical-align: middle;
}

.goodcms_mobile_info h3 {
    color: #333333;
    line-height: 24px;
    font-weight: normal;
}

.goodcms_mobile_price {
    color: #d94900;
    padding-top: 10px;
    padding-bottom: 5px;
}

.goodcms_mobile_info a {
    border: #e5e5e5 solid 1px;
    display: block;
    overflow: hidden;
    padding: 5px 10px 5px 5px;
    text-decoration: none;
}

dir.insert-outer
{
clear: both;
width: 96%;
display: block;
float: left;
border-top: 1px dotted #cccccc;
padding-left: 0;
margin-left: 2%;
margin-right: 2%;
margin-top: 10px;
margin-bottom: 1px;
}

dir.insert-outer .title
{
display: block;
padding-top: 15px;
margin-left: 160px;
width: 580px;
}

dir.insert-outer .des
{
display: block;
margin-left: 160px;
width: 580px;
}

dir.insert-outer .oth
{
display: block;
margin-left: 160px;
}

dir.insert-outer .price
{
color: #777;
text-decoration: underline;
}

dir.insert-outer .sitename
{
color: #ff998a;
}


dir.insert-outer img.res_smzdm
{
display: block;
float: left;
width: 140px;
height: 140px;
}

.res_smzdm 
{
display: block;
}

.goodcms_card_one
{
width: 260px;
float: left;
margin-right: 10px;
height: 386px;
}

.goodcms_card_one a
{
display: block;
text-align: center;
border: #eee solid 1px;
}

.goodcms_card_one_img
{
height: 238px;
width: 100%;
}

.goodcms_card_one img
{
max-width: 100%;
max-height: 238px;
margin-top: 0;
}

.goodcms_card_one h4
{
font-weight: normal;
padding: 10px;
word-break: break-all;
word-wrap: break-word;
text-align: left;
height: 96px;
overflow: hidden;
}

.goodcms_card_one h4 em
{
font-weight: normal;
color: #d84700!important;
display: block;
}

p.bleheadimgp
{
margin-top: 0px;
margin-bottom: 0px;
width: 810px;
text-align: center;
}

img.bleheadimg
{
width: 400px;
height:400px;
}

p.blelastimgp
{
margin-top: 0px;
margin-bottom: 0px;
width: 810px;
text-align: center;
}

img.blelastimg
{
width: 300px;
height:300px;
}

.simgahead
{
display: block;
float: left;
width: 800px;
margin: 10px 10px 10px 10px;
}

.simgaheadleft
{
display: block;
float: left;
width: 320px;
margin-right: 20px;
margin-left: 70px;
}

.simgaheadleftimg
{
display: block;
float: left;
}

.simgaheadright
{
display: block;
float: left;
width: 320px;
margin-left: 0;
margin-right: 70px;
}

.simgaheadrightimg
{
display: block;
float: left;
}

.single_product {
    display: inline-block;
    margin-bottom: 8px;
    margin-top: 8px;
    width: 790px;
    border: 1px solid #F5F5F5;
    padding: 10px;
}

.single_product .product_wrap {
    clear: both;
    display: inline-block;
    overflow: hidden;
    width: 750px;
}

.single_product .product_wrap a {
    padding: 0;
    display: inline-block;
    float: left;
    background: none;
}

.single_product .product_wrap img {
    width: 120px;
    height: 120px;
    margin-left: 10px;
}

.single_product .product_info {
    float: left;
    width: 610px;
    padding-left: 15px;
    padding-top: 15px;
    display: block;
}

.single_product .product_info_subtitle {
    display: block;
    line-height: 30px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    clear: both;
}

.single_product .product_info_subtitle a {
    font-weight: bold;
    text-decoration: underline;
}

.single_product .product_info_price a {
    position: relative;
    color: #b3b3b3;
    display: block;
    font-size: 12px;
    margin-right: 20px;
    text-decoration: underline;
}

.single_product .product_info_price {
    position: relative;
    color: #b3b3b3;
    display: block;
    font-size: 12px;
}

.zhida-link {
    border: 1px solid #e5e5e5;
    border-top: 2px solid #5db95b;
    width: 560px;
    height: 100px;
    padding: 20px;
    margin: 20px auto;
    position: relative;
}

.zhida-link .t1 {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;

}

.zhida-link .t2 {
    width: 440px;
    width: 400px\9;
    float: left;
    height: 100px;
    position: relative;
    margin-left: 20px;
}

.zhida-link .t1 img {
    width: 100px;
    margin: 0px 0px 0px 0px !important;
}

.zhida-link .t2 h2 {
    font-size: 14px;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.zhida-link .t3 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 94px;
    height: 30px;
    background-color: #5db95b;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    border-radius: 3px;
    display: block;
}

.zhida-link .t3 a {
    display: block;
    color: #FFF;
    text-decoration: none;
}

.dimage
{
width:810px;
text-align: center;
}

#dabstract td
{
vertical-align:middle;
}

.czfxhimgdiv
{
text-align: center;
width: 810px;
}

.htyhimg
{
text-align: center;
max-width: 810px;
}

.htyhimg img
{
max-width: 810px;
}

.excel-goods
{
display:none;
}