

			 {include file="app/index/view/agent/nav"}

				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.php?r=index/agent/channel">首页</a>
							</li>
							<li class="active">{$pagetext['0']}</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
                    <div class="page-header">
							<h1>
								{$pagetext['0']}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{$pagetext['1']}
								</small>
							</h1>
						</div>
                        <div class="widget-box">
												<div class="widget-header">
													<h4 class="widget-title">{$pagetext['1']}</h4>
												</div>

												<div class="widget-body">
													<div class="widget-main">
												
											</div>
                                <form class="form-horizontal"  id="form" action="index.php?r=index/agent/addchannel" method="post">
									<div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 渠道名称： </label>

										<div class="col-sm-9">
											<input type="text" name="name" id="form-field-1" value="{$ret['name']}" placeholder=" 渠道名称" class="col-xs-10 col-sm-5">
										</div>
									</div>
                                    <hr />
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 激活码： </label>

										<div class="col-sm-9">
											<input type="text" name="code" id="form-field-1"  value="{$code['0']}" readonly="readonly" placeholder="渠道激活码" class="col-xs-10 col-sm-5"><span class="help-button"  style=" margin-left:10px; margin-top:5px;" data-rel="popover" data-trigger="hover" data-placement="left" data-content="A：用户通过您的激活码激活APP即可成为您的用户，每笔订单您参与佣金分成！" title="Q：什么是激活码？">?</span>

										</div>
									</div>
                                    <hr />
                                    <div class="form-group">
										<label class="col-sm-1 control-label no-padding-right" for="form-field-1"> 渠道备注： </label>

										<div class="col-sm-9">
											<textarea  class="col-xs-10 col-sm-5 h-80"  name="body" placeholder="渠道备注">{$ret['body']}</textarea>
										</div>
									</div>

								
								{$html}
                                
                                <div class="clearfix form-actions"  style="margin-bottom:-0px;" >
										<div class="col-md-offset-1 col-md-9">
											<input type="submit"  class="btn btn-info " id="save"  value="保存" />

											&nbsp; &nbsp; &nbsp;
											<a href="index.php?r=index/agent/channel"><button class="btn" type="reset">
												
												返回列表
											</button></a>
										</div>
									</div>
                                    
                                                   </div>
								
                                </form>     

			

			<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{__PUBLIC__}manage/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{__PUBLIC__}manage/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
        <script src="{__PUBLIC__}manage/js/ace-extra.min.js"></script>
	<!-- ace scripts -->
	<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{__PUBLIC__}manage/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{__PUBLIC__}manage/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{__PUBLIC__}manage/js/jquery-ui.custom.min.js"></script>
		<script src="{__PUBLIC__}manage/js/jquery.ui.touch-punch.min.js"></script>
		<script src="{__PUBLIC__}manage/js/bootbox.js"></script>
		<script src="{__PUBLIC__}manage/js/jquery.easypiechart.min.js"></script>
		<script src="{__PUBLIC__}manage/js/jquery.gritter.min.js"></script>
		<script src="{__PUBLIC__}manage/js/spin.js"></script>

		<!-- ace scripts -->
		<script src="{__PUBLIC__}manage/js/ace-elements.min.js"></script>
		<script src="{__PUBLIC__}manage/js/ace.min.js"></script>




		<!-- inline scripts related to this page -->
        <link rel="stylesheet" href="{__PUBLIC__}manage/css/jquery.my-message.1.1.css" />
	<link rel="stylesheet" href="{__PUBLIC__}manage/css/utilities.css?v=5.0.2">
		<script type="text/javascript" src="{__PUBLIC__}manage/js/jquery.my-message.1.1.js"></script>
        <script src="{__PUBLIC__}manage/js/Validform_v5.3.2_min.js"></script>
        <script src="{__PUBLIC__}manage/js/index.js?v=20260729"></script>
		<script>
jQuery(function($){
    $('#form').on('submit', function(e){
        e.preventDefault();
        var btn = $('#save'), text = btn.val();
        btn.prop('disabled', true).val('保存中...');
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'json',
            success: function(res){
                if(res.status == 'y'){
                    showToast(res.info, 'success');
                    setTimeout(function(){ window.location.href = 'index.php?r=index/agent/channel'; }, 1500);
                } else {
                    showToast(res.info || '保存失败', 'danger');
                    btn.prop('disabled', false).val(text);
                }
            },
            error: function(){
                showToast('请求异常', 'danger');
                btn.prop('disabled', false).val(text);
            }
        });
    });
});

function showToast(message, type) {
  type = type || 'success';
  var toast = document.createElement('div');
  toast.className = 'toast align-items-center text-white bg-' + type + ' border-0 position-fixed show';
  toast.setAttribute('role', 'alert');
  toast.style.cssText = 'top: 20px; right: 20px; z-index: 9999; min-width: 250px; opacity: 1; transition: opacity .3s ease;';
  var icon = type === 'success' ? 'check-circle' : 'exclamation-circle';
  toast.innerHTML = '<div class="d-flex"><div class="toast-body"><i class="fas fa-' + icon + ' mr-2"></i>' + message + '</div><button type="button" class="btn-close btn-close-white me-2 m-auto" onclick="this.parentElement.parentElement.remove()"></button></div>';
  document.body.appendChild(toast);
  setTimeout(function() {
    toast.style.opacity = '0';
    setTimeout(function() {
      if(toast.parentNode) toast.parentNode.removeChild(toast);
    }, 350);
  }, 3000);
}
		$('[data-rel=popover]').popover({container:'body'});
		</script>
		
	</body>
</html>
