<aside class="column-small side-bar">
    <div class="widget widget-stats">
      <h3>站内速览</h3>
      <div class="stats-report">
        <div class="sr-row sr-highlight">
          <div class="sr-item">
            <span class="sr-val">{if isset($todayCount)}{$todayCount}{else}0{/if}</span>
            <span class="sr-label">今日</span>
          </div>
          <div class="sr-item">
            <span class="sr-val">{if isset($yesterdayCount)}{$yesterdayCount}{else}0{/if}</span>
            <span class="sr-label">昨日</span>
          </div>
        </div>
        <div class="sr-row">
          <div class="sr-item">
            <span class="sr-val sr-val-sub">{if isset($weekCount)}{$weekCount}{else}0{/if}</span>
            <span class="sr-label">近7天</span>
          </div>
          <div class="sr-item">
            <span class="sr-val sr-val-sub">{if isset($monthCount)}{$monthCount}{else}0{/if}</span>
            <span class="sr-label">本月</span>
          </div>
        </div>
        <div class="sr-row sr-total">
          <div class="sr-item sr-item-wide">
            <span class="sr-val sr-val-main">{if isset($totalCount)}{$totalCount}{else}0{/if}</span>
            <span class="sr-label">文章总数</span>
          </div>
        </div>
      </div>
    </div>

    <div class="widget widget-search">
      <h3>搜索</h3>
      <form class="widget-search-form" method="get" action="so.html" autocomplete="off" onsubmit="return false;">
        <input type="text" name="content" class="widget-search-input" placeholder="搜索好物 / 攻略...">
        <button type="button" class="widget-search-btn">搜索</button>
      </form>
    </div>

    <div class="widget widget-calendar">
      <h3>日历</h3>
      {obj('index/global','controller')->calendar()}
    </div>

    <div class="widget">
      <h3>分类目录</h3>
      <ul class="unstyle-li widget-list">
        {foreach $cats as $c}
        <li><a href="{url($route='index/index/index/list=<list>', $params=array('list'=>$c['cid']))}">{$c['name']}</a></li>
        {/foreach}
      </ul>
    </div>

    <div class="widget">
      <h3>热门文章</h3>
      <div class="unstyle-li">
        {foreach $hot as $k=>$vo}
        <div class="hot-item">
          <span class="hot-rank {if $k<3}top{/if}">{$vo['rank']}</span>
          <a href="{url($route='index/index/view/id=<id>', $params=array('id'=>$vo['id']))}" title="{$vo['title']}">{$vo['title']}</a>
        </div>
        {/foreach}
      </div>
    </div>
  </aside>
