<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$ret['title']}_{obj('base/Base')->SET('giftseo','q_title')}</title>
<meta name="description" content="{obj('base/Base')->SET('giftseo','q_dec')}" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui2.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui3.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/swiper/dist/css/swiper.min.css">
<link href="{__PUBLIC__}h5/css/index.css?v=<?=time()?>" rel="stylesheet" type="text/css">
<script src="{__PUBLIC__}h5/wui/zepto.min.js"></script>
</head>
<style>
body{background:#fff}
</style>
<body>


<div class="weui_btn_warn weui-header " style="background:#f84e4e"> 
  <div class="weui-header-left" onClick="javascript :history.back(-1);"> <a class="icon icon-109 f-white dhicon"></a>  </div>
   <h1 class="weui-header-title">礼物问答</h1>
     <div class="weui-header-right"><a class="icon icon-3 f-white dhicon" onClick="toshare()"></a></div> 
    </div>

 <div class="askview-title">{$ret['title']}</div>
  <div class="askbody"  style="    border-bottom: 1px solid #dfdfdf; padding-bottom:10px">{$ret['q']}</div>
 <div class="askview-tx">
 <span class="asktx"><img src="http://m.cocodiy.com/Public/images/testimg/50.png" /></span>
 <span class="asktxname">{$ret['user']}</span>
 <span class="asktxdate">{$ret['date']}</span>
 <span class="jiangzang"><i class="icon icon-125"></i></span>

 </div>        
  <div class="askbody">
{$newbody}
  
 
  
  
  </div>
  
  <div class="zan">
   <div class="imgzan"><img src="{__PUBLIC__}umaijie/images/zan1.png"  onclick="askLike('{$ret['id']}',this)"/></div>
   <div class="textzan"><span class="num zannum"   id="ask_{$ret['id']}" >{$ret['like']}</span>人觉得很赞</div>
  
  </div>
  
  <div class="aboutitems">
<div style="width:100%; height:10px"></div>
  <div class="aboutline"><div class="weui-loadmore weui-loadmore-line">
            <span class="weui-loadmore-tips" style="background:#fff">礼物喜欢排行榜</span>
        </div>
        
        </div>
        
   <div class="itemslist" style="width:95%; margin-top:0px">
   
     {foreach $likeret as $vo}
     <li class="bs">
     <a href="{url($route='plug/mgift/giftview/id=<id>', $params=array('id'=>$vo['id']))}"><div class="itemslist_img"><img src="{$vo['pic']}" /></div>
     <div class="items_list_title">{$vo['itemstitle']}</div>
     <div class="items_list_btn"><div class="items_list_price"><em>￥</em>{obj('api/Api')->moneytype($vo['price'])}</div>  <div class="items_list_like"><i class="icon icon-96"></i>{$vo['like']}  </div></a>
     </li>
     {/foreach}
  
   
   </div>

</div>
  <div style="width:100%; height:100px;"></div>
  
  {include file="app/plug/view/mgift/footer"}
{include file="app/plug/view/mgift/share"}



<script>

/*问答赞*/
function askLike(ask_id,me){
 $.ajax({
            type: 'POST',
            url: 'index.php?r=pluf/gift/asklike',
            data: {"ask_id": ask_id},
            dataType: "json",
            cache: false,
            success: function (jdata) {
                $('#ask_' + ask_id).html(jdata);
				console.log(jdata);
            },
            error: function (jdata) {
                alert(jdata.info);
            }
        });	
}
</script>
  
</body>
</html>
