
<div class="weui_tab tab-bottom"  style="z-index:999;" >
                <div class="weui_tab_bd">
        <div class="weui_tab_bd_item">
            <h3>首页</h3>
        </div>
        <div class="weui_tab_bd_item">
            <h3>分类</h3>
        </div>
       
        <div class="weui_tab_bd_item">
            <h3>攻略</h3>
        </div>
              <div class="weui_tab_bd_item">
            <h3>问答</h3>
        </div>
    </div>
     <div class="weui_tabbar "   >
                <a href="{url($route='plug/mgift/index', $params=array())}" class="weui_tabbar_item {if ACTION_NAME=='index'}weui_bar_item_on{/if}">
                    <div class="weui_tabbar_icon">
                        <img src="{__PUBLIC__}h5/images/1.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">首页</p>
                </a>
                <a href="{url($route='plug/mgift/find/id=<id>', $params=array('id'=>1))}" class="weui_tabbar_item {if ACTION_NAME=='find'}weui_bar_item_on{/if}">
                    <div class="weui_tabbar_icon">
                        <img src="{__PUBLIC__}h5/images/2.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">分类</p>
                </a>
               
                <a href="{url($route='plug/mgift/strategy', $params=array())}" class="weui_tabbar_item {if ACTION_NAME=='strategy' || ACTION_NAME=='strategyview' }weui_bar_item_on{/if}">
                    <div class="weui_tabbar_icon">
                        <img src="{__PUBLIC__}h5/images/4.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">攻略</p>
                </a>
                  <a href="{url($route='plug/mgift/ask', $params=array())}" class="weui_tabbar_item {if ACTION_NAME=='ask' || ACTION_NAME=='asklist' || ACTION_NAME=='askview'}weui_bar_item_on{/if}">
                    <div class="weui_tabbar_icon">
                        <img src="{__PUBLIC__}h5/images/5.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">问答</p>
                </a>              
            </div>
        </div>
        {htmlspecialchars_decode(obj('base/Base')->SiteConfig('tongji'))}