<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{obj('base/Base')->SET('giftseo','gift_title')}</title>
<meta name="keywords" content="{obj('base/Base')->SET('giftseo','gift_keywords')}" />
<meta name="description" content="{obj('base/Base')->SET('giftseo','gift_dec')}" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui2.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui3.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/swiper/dist/css/swiper.min.css">
<link href="{__PUBLIC__}h5/css/index.css?v=<?=time()?>" rel="stylesheet" type="text/css">
<script src="{__PUBLIC__}h5/wui/zepto.min.js"></script>

</head>

<body>



<style>
   .swiper-slide img{width:100%; height:auto}
	</style>

<div style="max-width:640px; background:#fff; height:auto; margin:0 auto ">

<div class="search">
  <div class="logo"><img src="{__PUBLIC__}h5/images/logo.png" /></div>
  <div class="serachbox"><a href="{url($route='plug/mgift/searchindex/', $params=array())}"><input type="text"  placeholder="请输入关键字" /></a></div>
  <div class="search-more"> <a href="{url($route='index/index/index', $params=array())}"><img src="{__PUBLIC__}h5/images/2.png" alt=""></a></div>

</div>


<div class="huan" style=" width:100%; height:auto; margin-top:50px;">
<div class="swiper-container swiper-container-huan">
    <div class="swiper-wrapper ">
     {foreach $huan as $vo}
      <div class="swiper-slide"><a href="{$vo['link']}"><img src="{$vo['pic']}" /></a></div>
      {/foreach}

    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination swiper-pagination-wd"></div>
  </div>

</div>



<div class="global_titlebox">
  <div  class="global_title">最新攻略</div>
  <div class="global_more"><a href="{url($route='plug/mgift/strategy', $params=array())}">查看更多</a></div>
  
  <div class="global_gltj">
  <div class="weui_panel weui_panel_access">
           
            <div class="weui_panel_bd">
            {foreach $glret as $vo}
                <a href="{url($route='plug/mgift/strategyview/id=<id>', $params=array('id'=>$vo['id']))}" class="weui_media_box weui_media_appmsg">
                    <div class="weui_media_hd" style="width:107px;">
                        <img class="weui_media_appmsg_thumb gongluepic"  src="{$vo['pic']}" alt="">
                    </div>
                    <div class="weui_media_bd">
                        <h4 class="weui_media_title">{$vo['title']}</h4>
                        <p class="weui_media_desc">{$vo['wa']}</p>
                    </div>
                </a>
                {/foreach}
              
            </div>
            
            
        </div>
        
  </div>

</div>


<div class="global_titlebox"  >
  <div  class="global_title">最新问答</div>
  <div class="global_more"><a href="{url($route='plug/mgift/ask', $params=array())}">查看更多</a></div>
  <div class="global_wd">
  
  <!-- Swiper -->
  <div class="swiper-container swiper-container-wd">
    <div class="swiper-wrapper">
    {foreach $wdret as $vo}
      <div class="swiper-slide">
        <div class="wd_img bs"><a href="{url($route='plug/mgift/askview/id=<id>', $params=array('id'=>$vo['id']))}"><img src="{$vo['pic']}" /><div class="wd_text">{$vo['title']}</div></a></div>
      </div>
      {/foreach}
    
      
      
       
      
      
    </div>
    <!-- Add Pagination -->
    
  </div>
  
  
  </div>


</div>




<div class="global_titlebox"  style="margin-top:15px;" >
  <div  class="global_title">发现礼物...</div>
  <div class="global_more"><a href="{url($route='plug/mgift/find/id=<id>', $params=array('id'=>1))}">查看更多</a></div>
  <div class="itemslist">
   {foreach $giftret as $vo}
     <li class="bs">
     <a  href="{url($route='plug/mgift/giftview/id=<id>', $params=array('id'=>$vo['id']))}">
     <div class="itemslist_img"><img src="{$vo['pic']}" /></div>
     <div class="items_list_title">{$vo['itemstitle']}</div>
     <div class="items_list_btn"><div class="items_list_price"><em>￥</em>{obj('api/Api')->moneytype($vo['price'])}</div>  <div class="items_list_like"><i class="icon icon-96"></i>{$vo['like']}  </div></a>
     </li>
     {/foreach}
    
  
  </div>
  </div>
  
  
  
  

  
  </div>

<div style="width:100%; height:100px; background:#fff"></div>




 {include file="app/plug/view/mgift/footer"}


<script src="{__PUBLIC__}h5/swiper/dist/js/swiper.min.js"></script>

 <script>



     var swipershuan = new Swiper('.swiper-container-huan', {
      pagination: {
        el: '.swiper-pagination-wd',
        clickable: true,
        renderBullet: function (index, className) {
          return '<span class="' + className + '"></span>';
        },
      },
    });
 
    var swiper = new Swiper('.swiper-container-wd', {
      slidesPerView:'auto',
      spaceBetween: 10,
      pagination: {
        el: '.swiper-pagination-huan',
        clickable: true,
      },
    });
	
	
	
  </script>
</body>
</html>
