<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索_{obj('base/Base')->SET('giftseo','gift_title')}</title>
<meta name="keywords" content="{obj('base/Base')->SET('giftseo','gift_keywords')}" />
<meta name="description" content="{obj('base/Base')->SET('giftseo','gift_dec')}" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui2.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/wui/style/weui3.css"/>
<link rel="stylesheet" href="{__PUBLIC__}h5/swiper/dist/css/swiper.min.css">
<link href="{__PUBLIC__}h5/css/index.css?v=2" rel="stylesheet" type="text/css">
<script src="{__PUBLIC__}h5/wui/zepto.min.js"></script>

</head>

<body>

<div style="max-width:640px; background:#fff; height:auto; margin:0 auto ">

<div class="search">
  <div class="logo"><a href="{url($route='plug/mgift/index/', $params=array())}"><img src="{__PUBLIC__}h5/images/logo.png" /></a></div>
  <div class="serachbox"><input type="text" id="keywords"  placeholder="请输入关键字" /></div>
  <div class="search-more"> <a href="{url($route='plug/mgift/find/id=<id>', $params=array('id'=>1))}"><img src="{__PUBLIC__}h5/images/2.png" alt=""></a></div>

</div>

<div class="hostsbox">
<div class="hotstxt">热门搜索</div>
<div class="hotkeywords">

 <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>2))}">个性定制</a></li>
 <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>8))}">巧克力</a></li>
  <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>9))}">鲜花</a></li>
   <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>10))}">蛋糕</a></li>
    <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>32))}">健康礼物</a></li>
     <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>47))}">阳光罐</a></li>
      <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>60))}">毛绒玩具</a></li>
      <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>76))}">耳饰</a></li>
      <li><a href="{url($route='plug/mgift/findgift/id=<id>', $params=array('id'=>80))}">充电宝</a></li>
</div>
</div>



<script>

$('.serachbox').bind('keypress', function (event) { 
   if (event.keyCode == "13") { 
    var keywords=$("#keywords").val();
	<?php
	$os=obj('base/Base')->SiteConfig('os');
	?>
	{if $os==0}
	 var url='m-gift-search-'+keywords+'.html';
	{/if}
	{if $os==1}
	 var url='m-gift-search-'+encodeURI(encodeURI(keywords))+'.html';
	  {/if}
	  
	
	  location.href=url;


   }
  })


</script>
</body>
</html>
