<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{if !$_GET['id']}发现礼物{else}{$ret['name']}{/if}_{obj('base/Base')->GiftSEO('findgift_title')}</title>
<link href="{__PUBLIC__}umaijie/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{__PUBLIC__}umaijie/css/iconfont/iconfont.css?v=3" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{__PUBLIC__}umaijie/js/jquery.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="{__PUBLIC__}umaijie/css/index.less">
<script src="{__PUBLIC__}umaijie/js/less.min.js" type="text/javascript"></script>
<script src="{__PUBLIC__}umaijie/bootstrap/js/bootstrap.min.js"></script>
<script src="{__PUBLIC__}umaijie/js/jquery.scrollBanner.js" type="text/javascript"></script>
<script src="{__PUBLIC__}umaijie/js/h5.js" type="text/javascript"></script>
<script>browserRedirect('{url($route='plug/mgift/find/id=<id>', $params=array('id'=>1))}');</script>
</head>

<body>
<style>.topbarleft{margin-left:135px;} .itemslist-nav-left-big-title{color:#333}</style>
{include file="app/plug/view/gift/topbar"}
{include file="app/plug/view/gift/global_header"}
<div class="mianbaoxiebox">
<ol class="breadcrumb mianbaoxie">
  <li><a href="/">首页</a></li>
  <li><a href="{url($route='plug/gift/findgift', $params=array())}">发现礼物</a></li>
  {if $_GET['id']}
  <li><a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$_GET['id']))}" class="gray9">{$ret['name']}</a></li>
  {/if}
</ol>
</div>


<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">{if !$_GET['id']}发现礼物{else}{$ret['name']}{/if}</div>
    <div class="itemslist-nav-left-li">
   
        <li><a   href="{$url_a}" class="a1"   {if !$_GET['price'] && !$_GET['like']}style="color:#ff3b7f"{/if}><span>综合</span></a></li>
        <li id="xuline"></li>
      
       {if $_GET['id']}
     {if !$_GET['price']}
     <li><a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$_GET['id']))}?price=up"><span class="price_auto">价格</span></a></li>
     {/if}
     {if $_GET['price']=="up"}
     <li><a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$_GET['id']))}?price=down"><span class="price_up">价格</span></a></li>
     {/if}
     {if $_GET['price']=="down"}
     <li><a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$_GET['id']))}?price=up"><span class="price_down">价格</span></a></li>
     {/if}
     {/if}
     
     {if !$_GET['id']}
    
      {if !$_GET['price']}
     <li><a href="{url($route='plug/gift/findgift', $params=array())}?price=up"><span class="price_auto">价格</span></a></li>
     {/if}
     {if $_GET['price']=="up"}
     <li><a href="{url($route='plug/gift/findgift', $params=array())}?price=down"><span class="price_up">价格</span></a></li>
     {/if}
     {if $_GET['price']=="down"}
     <li><a href="{url($route='plug/gift/findgift', $params=array())}?price=up"><span class="price_down">价格</span></a></li>
     {/if}
     
     {/if}
        
        
         <li id="xuline"></li>
          {if $_GET['id']}
     <li><a  {if $_GET['like']=='o'}style="color:#ff3b7f"{/if} href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$_GET['id']))}?like=o"><span>喜欢</span></a></li>
     {/if}
     
       {if !$_GET['id']}
     <li><a  {if $_GET['like']=='o'}style="color:#ff3b7f"{/if} href="{url($route='plug/gift/findgift', $params=array())}?like=o"><span>喜欢</span></a></li>
     {/if}
      <li id="xuline"></li>
      <li style="margin-top:-3px;"><a href="javascript:;"  class="giftfenlei"><i class="icon iconfont icon-leibie" style="font-size:20px; vertical-align:middle"></i>礼物分类</a></li>
       
    </div>
    
   
   </div>
   <div class="itemslist-nav-rightmore">共 <strong class="hover">{$Page['count']}</strong> 件礼物</div>
   <!--ens-s-->
   </div>
     <!--分类层-->
       <div class="giftlistlay" >
       <div style="width:100%; height:30px;">
      
       </div>
        <div class="giftlist-div">
        <li>
        <div class="giftlist-div-bt">创意</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','1')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        </li>
        <li>
         <div class="giftlist-div-bt">配饰</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','13')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        </li>
     
          <li>
         <div class="giftlist-div-bt">百货</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','29')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        
        </li>
        <li style="margin-right:0px;">
         <div class="giftlist-div-bt">综合</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','46')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        
        
        
        </li>
        </div>
        
        
          <div class="giftlist-div">
        <li>
        <div class="giftlist-div-bt">玩具</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','59')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        </li>
        <li>
         <div class="giftlist-div-bt">饰品</div>
        <div class="giftlist-div-fl">
         {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','69')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        </li>
     
          <li style="width:270px;">
         <div class="giftlist-div-bt">数码</div>
        <div class="giftlist-div-fl">
        {foreach obj("plug/giftglobal","controller")->getlist('plug_gift_type','y','78')  as $vo}
          <a href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['id']))}">{$vo['name']}</a>
        {/foreach}
        
        </div>
        
        
        </li>
       
        </div>
        
        
       
       </div>
       <!--分类层-->
 <!--列表开始-->
   <div class="itemslist">
   {foreach $Page['list'] as $key=>$vo}
  
    <li  class="u-items-li"  data="{$vo['id']}">
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']))}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum"><i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span></div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>
   
   <div class="page">
    <div class="pagewidth" style=" height:auto; margin:0 auto;"><nav aria-label="Page navigation" style="margin:0 auto">
  <ul class="pagination">
    {$Page['page']}
    </li>
  </ul>
</nav></div>
   </div>
</div>

{include file="app/plug/view/gift/js"}

</body>
</html>
