<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{obj('base/Base')->GiftSEO('index_title')}</title>
<meta name="keywords" content="{obj('base/Base')->GiftSEO('index_keywords')}" />
<meta name="description" content="{obj('base/Base')->GiftSEO('index_dec')}" />
<link href="{__PUBLIC__}umaijie/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{__PUBLIC__}umaijie/css/iconfont/iconfont.css?v=3" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{__PUBLIC__}umaijie/js/jquery.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="{__PUBLIC__}umaijie/css/index.less">
<script src="{__PUBLIC__}umaijie/js/less.min.js" type="text/javascript"></script>
<script src="{__PUBLIC__}umaijie/bootstrap/js/bootstrap.min.js"></script>
<script src="{__PUBLIC__}umaijie/js/jquery.scrollBanner.js" type="text/javascript"></script>
<script src="{__PUBLIC__}umaijie/js/h5.js" type="text/javascript"></script>
<script>browserRedirect('{url($route='plug/mgift/index/', $params=array())}');</script>



</head>

<body>
<style>.topbar{background:#f6f6f6}</style>
{include file="app/plug/view/gift/header"}

<!--幻灯-->
<div class="u-huan">

<div id="banner"></div>
<script type="text/javascript">
$("#banner").scrollBanner({
	images : [
		{foreach $huan as $vo}
		{src:"{$vo['pic']}",title:"{$vo['name']}",href:"{$vo['link']}"},
		{/foreach}

	],
	scrollTime:3000,
	bannerHeight:"auto",
	iconColor: "#FFFFFF",
	iconHoverColor : "#f84e4e",
	iconPosition : "center"
});
</script>


</div>

<!--说明组件-->
<div class="u-info-zp">
<li class="grayimghover" data="1">
<div class="u-d1"><img src="{__PUBLIC__}umaijie/images/1.png"  class="grayimg zp-img_1" /></div>
<div class="u-d2">
 <div class="u-d2-big-title big-title_1">礼物精选</div>
 <div class="u-d2-small-title">每一件礼物,都是精心挑选</div>

</div>
</li>
<li   class="grayimghover" data="2">
  <div class="u-d1"><img src="{__PUBLIC__}umaijie/images/2.png"  class="grayimg zp-img_2" /></div>
<div class="u-d2">
 <div class="u-d2-big-title big-title_2">正品保证</div>
 <div class="u-d2-small-title">买手优选100%正品</div>

</div>
</li>
<li  class="grayimghover" data="3">

<div class="u-d1"><img src="{__PUBLIC__}umaijie/images/4.png"  class="grayimg zp-img_3" /></div>
<div class="u-d2">
 <div class="u-d2-big-title big-title_3">7天无理由退款</div>
 <div class="u-d2-small-title">7天无理由退款,安心</div>

</div>
</li>
<li  style="width:240px;"  class="grayimghover" data="4">
    <div class="u-d1"><img src="{__PUBLIC__}umaijie/images/3.png"  class="grayimg zp-img_4" /></div>
<div class="u-d2">
 <div class="u-d2-big-title big-title_4">DIY定制</div>
 <div class="u-d2-small-title">刻字、定制由你定</div>

</div>

</li>
</div>

<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">1F推荐</div>
    <div class="itemslist-nav-left-li">
   
       <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>2,'type'=>'send'))}" class="a1"><span>女友礼物</span></a></li>
        <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>6,'type'=>'send'))}" class="a1"><span>送女生</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>20,'type'=>'send'))}" class="a1"><span>送老婆</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>22,'type'=>'send'))}" class="a1"><span>送妈妈</span></a></li>
    </div>
   
   </div>
   <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $a_f_ret as $key=>$vo}
   
   <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>

<div style="width:100%; height:5px; clear:both"></div>
<!--2f-->
<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">2F推荐</div>
    <div class="itemslist-nav-left-li">
       
        <li class="hover"><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>3,'type'=>'send'))}" class="a1"><span>男友礼物</span></a></li>
         <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>11,'type'=>'send'))}" class="a1"><span>送男生</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>21,'type'=>'send'))}" class="a1"><span>送老公</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>23,'type'=>'send'))}" class="a1"><span>送爸爸</span></a></li>
    </div>
   
   </div>
   <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $b_f_ret as $key=>$vo}
  <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>

<div style="width:100%; height:5px; clear:both"></div>
<!--3f-->
<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">3F推荐</div>
    <div class="itemslist-nav-left-li">
<li class="hover"><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>50,'type'=>'send'))}" class="a1"><span>长辈礼物</span></a></li>
 <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>29,'type'=>'send'))}" class="a1"><span>送老人</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>10,'type'=>'special'))}" class="a1"><span>实用礼物</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>12,'type'=>'special'))}" class="a1"><span>健康礼品</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>7,'type'=>'goal'))}" class="a1"><span>祝寿贺寿</span></a></li>
    </div>
   
   </div>
   <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $c_f_ret as $key=>$vo}
  <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>




<div style="width:100%; height:5px; clear:both"></div>
<!--4f-->
<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">4F推荐</div>
    <div class="itemslist-nav-left-li">
        <li class="hover"><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>51,'type'=>'send'))}" class="a1"><span>孩子礼物</span></a></li>
        <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>38,'type'=>'send'))}" class="a1"><span>送小女孩</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>39,'type'=>'send'))}" class="a1"><span>送小男孩</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>52,'type'=>'send'))}" class="a1"><span>送婴儿</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/findgift/id=<id>', $params=array('id'=>66,'type'=>'send'))}" class="a1"><span>玩具大全</span></a></li>
    </div>
   
   </div>
  <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $d_f_ret as $key=>$vo}
  <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>



<div style="width:100%; height:5px; clear:both"></div>
<!--5f-->
<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">5F推荐</div>
    <div class="itemslist-nav-left-li">
       <li class="hover"><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>18,'type'=>'goal'))}" class="a1"><span>结婚礼物</span></a></li>
       <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>19,'type'=>'goal'))}" class="a1"><span>结婚纪念</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>24,'type'=>'goal'))}" class="a1"><span>恋爱礼物</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>30,'type'=>'goal'))}" class="a1"><span>情侣礼物</span></a></li>
    </div>
   
   </div>
   <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $e_f_ret as $key=>$vo}
  
   <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>


<div style="width:100%; height:5px; clear:both"></div>
<!--5f-->
<!--宝贝列表组件-->
<div class="itemslistbox">
  <div class="itemslist-nav">
   <div class="itemslist-nav-left">
    <div class="itemslist-nav-left-big-title">6F推荐</div>
    <div class="itemslist-nav-left-li">
       
         <li class="hover"><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>33,'type'=>'goal'))}" class="a1"><span>商务礼品</span></a></li>
         <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>42,'type'=>'send'))}" class="a1"><span>送领导</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>43,'type'=>'send'))}" class="a1"><span>送同事</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>41,'type'=>'send'))}" class="a1"><span>送客户</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>59,'type'=>'send'))}" class="a1"><span>送老师</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>34,'type'=>'goal'))}" class="a1"><span>开业礼品</span></a></li>
      <li id="xuline"></li>
      <li><a target="_blank" href="{url($route='plug/gift/topiclist/id=<id>/type=<type>', $params=array('id'=>43,'type'=>'goal'))}" class="a1"><span>福利礼品</span></a></li>
    </div>
   
   </div>
    <div class="itemslist-nav-rightmore"><a href="{url($route='plug/gift/findgift', $params=array())}" target="_blank"><i class="iconfont  icon-gengduo"></i>更多</a></div>
   <!--ens-s-->
   </div>
   
   <!--列表开始-->
   <div class="itemslist">
   {foreach $f_f_ret as $key=>$vo}
  <?php
    $xnum=obj("plug/gift","controller")->itemsx("y",$vo['type']);
    if($xnum>1){
     $url=url($route='plug/gift/findgift/id=<id>', $params=array('id'=>$vo['type']));
    }else{
     $url=url($route='plug/gift/view/id=<id>', $params=array('id'=>$vo['id']));
    }
    ?> 
  
    <li  class="u-items-li" data="{$vo['id']}" >
    <div class="poplike popid_{$vo['id']}" itemsid="{$vo['id']}" ></div>
     <a href="{$url}"  target="_blank"><div class="itemslist-pic"><img src="{$vo['pic']}" /></div>
    <div class="itemslist-itemstitle">{$vo['itemstitle']}</div></a>
    <div class="itemslist-itemspbox">
       <div class="itemslist-itemsprice">￥{obj('api/Api')->moneytype($vo['price'])}
        <div class="itemslist-itemsbz">
        {if $vo['diy']!='0'}
        <div class="itemslist-arrow"><img src="{__PUBLIC__}umaijie/images/umaijie_arrow_rate.jpg" /></div>
        {if $vo['diy']=='1'}
        <div class="itemslist-arrow-bz">星座</div>
        {/if}
         {if $vo['diy']=='2'}
        <div class="itemslist-arrow-bz">定制</div>
        {/if}
         {if $vo['diy']=='3'}
        <div class="itemslist-arrow-bz">刻字</div>
        {/if}
         {if $vo['diy']=='4'}
        <div class="itemslist-arrow-bz">正品</div>
        {/if}
        {/if}
        
       </div>
       </div>
       <div class="itemslikenum">{if $xnum>1}<i></i><span class="umaijie_xihuan_{$vo['id']}">{$xnum}个款式</span> {else}<i class="iconfont icon-xihuan "></i><span class="umaijie_xihuan_{$vo['id']}">{$vo['like']}</span>{/if}</div>
    </div>
    </li>
    </a>
    {/foreach}
   
   </div>

</div>

{include file="app/plug/view/gift/js"}
</body>
</html>
