<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$viewret['title']}_{obj('base/Base')->GiftSEO('index_title')}</title>
<link href="{__PUBLIC__}umaijie/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="{__PUBLIC__}umaijie/css/iconfont/iconfont.css?v=2" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{__PUBLIC__}umaijie/js/jquery.min.js"></script>
<link rel="stylesheet/less" type="text/css" href="{__PUBLIC__}umaijie/css/index.less">
<script src="{__PUBLIC__}umaijie/js/less.min.js" type="text/javascript"></script>
<script src="{__PUBLIC__}umaijie/bootstrap/js/bootstrap.min.js"></script>
<script src="{__PUBLIC__}umaijie/js/jquery.scrollBanner.js" type="text/javascript"></script>
</head>

<body>
<style>.topbarleft{margin-left:135px;} .itemslist-nav-left-big-title{color:#333}</style>
{include file="app/plug/view/gift/topbar"}
{include file="app/plug/view/gift/global_header"}
<div class="mianbaoxiebox">
<ol class="breadcrumb mianbaoxie">
  <li><a href="/">首页</a></li>
  <li><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>$_GET['id']))}">{$viewret['title']}</a></li>
  
</ol>
</div>


<div class="page-index-box-s">
   <div class="page-index-left">
    <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>1))}" {if $_GET['id']=='1'}style="color:#f84e4e"{/if}>关于我们</a></li>
               
                <li><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>3))}" {if $_GET['id']=='3'}style="color:#f84e4e"{/if}>如何购买</a></li>
                 <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>2))}" {if $_GET['id']=='2'}style="color:#f84e4e"{/if}>商家合作</a></li>
                
                <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>4))}" {if $_GET['id']=='4'}style="color:#f84e4e"{/if}>版权声明</a></li>
                    <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>5))}" {if $_GET['id']=='5'}style="color:#f84e4e"{/if}>用户协议</a></li>
                      <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>6))}" {if $_GET['id']=='6'}style="color:#f84e4e"{/if}>意见反馈</a></li>
                        <li ><a href="{url($route='plug/gift/page/id=<id>', $params=array('id'=>7))}" {if $_GET['id']=='7'}style="color:#f84e4e"{/if}>友情链接</a></li>
     
   
   </div>
   <div class="page-index-right">
       <div class="page-index-right-box">
       <div class="page-index-right-title">{$viewret['title']}</div>
       <div class="page-index-right-body"> {$viewret['body']}</div>
       
       
       </div>
   
   
   </div>
 
</div>
{include file="app/plug/view/gift/js"}
<body>
</body>
</html>
