{include file="app/manage/view/index/nav"}
            
            <div class="layui-container">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <i class="layui-icon layui-icon-ad"></i> 广告管理
                                <button class="layui-btn" onclick="location.href='index.php?r=manage/ad/addhuan'"><i class="layui-icon layui-icon-add"></i> 添加广告</button>
                            </div>
                            <div class="layui-card-body">
                                <table class="layui-table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>标题</th>
                                            <th>显示平台</th>
                                            <th>广告图片</th>
                                            <th>链接</th>
                                            <th>添加时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <?php if (!empty($page['list'])) { foreach ($page['list'] as $row) { ?>
                                        <tr>
                                            <td><?php echo $row['id']; ?></td>
                                            <td><?php echo $row['title']; ?></td>
                                            <td><?php echo $row['type'] == 0 ? 'PC网站' : '移动端'; ?></td>
                                            <td><img src="<?php echo $row['pic']; ?>" width="80" height="40" alt="" style="border-radius:4px;"></td>
                                            <td><?php echo mb_substr($row['link'], 0, 30, 'UTF-8'); ?></td>
                                            <td><?php echo $row['date']; ?></td>
                                            <td>
                                                <a href="index.php?r=manage/ad/edithuan&id=<?php echo $row['id']; ?>" class="layui-btn layui-btn-xs"><i class="layui-icon layui-icon-edit"></i> 编辑</a>
                                                <button class="layui-btn layui-btn-xs layui-btn-danger" onclick="del(<?php echo $row['id']; ?>)"><i class="layui-icon layui-icon-delete"></i> 删除</button>
                                            </td>
                                        </tr>
                                        <?php } } else { ?>
                                        <tr><td colspan="7" style="text-align:center;" class="empty-state"><i class="layui-icon layui-icon-ad"></i><p>暂无数据</p></td></tr>
                                        <?php } ?>
                                    </tbody>
                                </table>
                                
                                <div class="layui-page">
                                    <?php echo $page['page']; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/layui/2.9.10/layui.js"></script>
    <script>
        function del(id) {
            if(confirm('确定要删除这个广告吗？')) {
                var xhr = new XMLHttpRequest();
                xhr.open('GET', 'index.php?r=manage/ad/deletehuan&id=' + id, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);
                        if (result.status === 'y') {
                            alert(result.info);
                            location.reload();
                        } else {
                            alert(result.info);
                        }
                    }
                };
                xhr.send();
            }
        }
    </script>
</body>
</html>