{include file="app/manage/view/index/nav"}
            
            <div class="layui-container" style="max-width:900px;">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span class="layui-icon layui-icon-tag"></span> SEO设置
                            </div>
                            <div class="layui-card-body">
                                <form class="layui-form" id="seo-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站首页标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="index_title" class="layui-input" placeholder="网站首页标题" value="{$ret['index_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站首页关键字</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="index_keywords" class="layui-input" placeholder="网站首页关键字" value="{$ret['index_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站首页描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <textarea name="index_dec" class="layui-textarea" placeholder="网站首页描述">{$ret['index_dec']}</textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">大牌风尚标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="brand_title" class="layui-input" placeholder="大牌风尚标题" value="{$ret['brand_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">大牌风尚关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="brand_keywords" class="layui-input" placeholder="大牌风尚关键词" value="{$ret['brand_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">大牌风尚描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="brand_dec" class="layui-input" placeholder="大牌风尚页面描述" value="{$ret['brand_dec']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">风云榜标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="rank_title" class="layui-input" placeholder="风云榜标题" value="{$ret['rank_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">风云榜关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="rank_keywords" class="layui-input" placeholder="风云榜关键词" value="{$ret['rank_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">风云榜描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="rank_dec" class="layui-input" placeholder="风云榜描述" value="{$ret['rank_dec']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">优惠券标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="cheaps_title" class="layui-input" placeholder="优惠券标题" value="{$ret['cheaps_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">优惠券关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="cheaps_keywords" class="layui-input" placeholder="优惠券关键词" value="{$ret['cheaps_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">优惠券描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <textarea name="cheaps_dec" class="layui-textarea" placeholder="优惠券描述">{$ret['cheaps_dec']}</textarea>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">商品详情标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="view_title" class="layui-input" placeholder="商品详情标题" value="{$ret['view_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">商品详情关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="view_keywords" class="layui-input" placeholder="商品详情关键词" value="{$ret['view_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">商品详情描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="view_dec" class="layui-input" placeholder="商品详情描述" value="{$ret['view_dec']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">搜索页面标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="search_title" class="layui-input" placeholder="搜索页面标题" value="{$ret['search_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">搜索页面关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="search_keywords" class="layui-input" placeholder="搜索页面关键词" value="{$ret['search_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">搜索页面描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="search_dec" class="layui-input" placeholder="搜索页面描述" value="{$ret['search_dec']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">移动端标题</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="m_title" class="layui-input" placeholder="移动端标题" value="{$ret['m_title']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">移动端关键词</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="m_keywords" class="layui-input" placeholder="移动端关键词" value="{$ret['m_keywords']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">移动端描述</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <input type="text" name="m_dec" class="layui-input" placeholder="移动端描述" value="{$ret['m_dec']}">
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block" style="width:550px;">
                                            <button type="button" class="layui-btn" onclick="submitForm('seo')"><i class="layui-icon layui-icon-save"></i> 保存设置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/layui/2.9.10/layui.js"></script>
    <script>
        layui.use(['form'], function(){
            var form = layui.form;
            
            window.submitForm = function(type) {
                var form = document.getElementById(type + '-form');
                var data = {};
                var inputs = form.querySelectorAll('input, textarea, select');
                inputs.forEach(function(input) {
                    data[input.name] = input.value;
                });
                
                var url = 'index.php?r=manage/set/' + type;
                
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);
                        alert(result.info);
                    }
                };
                var params = Object.keys(data).map(function(k) {
                    return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]);
                }).join('&');
                xhr.send(params);
            };
        });
    </script>
</body>
</html>