{include file="app/manage/view/index/emlog_nav"}
            
            <div class="layui-container" style="max-width:900px;">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">
                                <span class="layui-icon layui-icon-link"></span> URL设置
                            </div>
                            <div class="layui-card-body">
                                <form class="layui-form" id="url-form">
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">网站模式</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <select name="DEBUG" class="layui-select">
                                                <option value="0" {if $DEBUG==0} selected="selected"{/if}>安全模式</option>
                                                <option value="1" {if $DEBUG==1} selected="selected"{/if}>调试模式</option>
                                            </select>
                                        </div>
                                        <div class="layui-form-mid layui-word-aux" style="margin-left:110px;color:#F30">默认为安全模式，如果您的网站出现了问题 可开启调试模式查找问题。</div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">首页默认访问</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <select name="moren" class="layui-select">
                                                <option value="index" {if $moren=='index'} selected="selected"{/if}>国内折扣</option>
                                                <option value="haitao" {if $moren=='haitao'} selected="selected"{/if}>海淘折扣</option>
                                                <option value="cheaps" {if $moren=='cheaps'} selected="selected"{/if}>优惠券</option>
                                                <option value="rank" {if $moren=='rank'} selected="selected"{/if}>排行榜</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <label class="layui-form-label">伪静态</label>
                                        <div class="layui-input-block" style="width:550px;">
                                            <select name="REWRITE_ON" class="layui-select">
                                                <option value="1" {if $REWRITE_ON==1} selected="selected"{/if}>开启</option>
                                                <option value="0" {if $REWRITE_ON==0} selected="selected"{/if}>关闭</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-input-block" style="width:550px;">
                                            <button type="button" class="layui-btn" onclick="submitForm('url')"><i class="layui-icon layui-icon-save"></i> 保存设置</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.staticfile.org/layui/2.9.10/layui.js"></script>
    <script>
        layui.use(['form'], function(){
            var form = layui.form;
            
            window.submitForm = function(type) {
                var form = document.getElementById(type + '-form');
                var data = {};
                var inputs = form.querySelectorAll('input, textarea, select');
                inputs.forEach(function(input) {
                    data[input.name] = input.value;
                });
                
                var url = 'index.php?r=manage/set/' + type;
                
                var xhr = new XMLHttpRequest();
                xhr.open('POST', url, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var result = JSON.parse(xhr.responseText);
                        alert(result.info);
                    }
                };
                var params = Object.keys(data).map(function(k) {
                    return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]);
                }).join('&');
                xhr.send(params);
            };
        });
    </script>
</body>
</html>
