.miaoquan_foot{
    padding:50px 0 100px 0;
    text-align:center; 
}
.miaoquan_foot .foot_t1{
    font-size:30px;
    font-weight:700;
    color:#757380;
}
.miaoquan_foot .foot_t2{
    padding-bottom:30px;
    font-size:16px;
    color:#a6a4b2
}
.miaoquan_foot .qquan_btn{
    display:block;
    margin:0 auto;
    width:165px;
    height:40px;
    line-height:40px;
    text-align:center;
    color:#fff;
    font-size:14px;
    background-color:#5599ff;
    border-radius:4px;
}
.miaoquan_foot .qquan_btn .qq_ico{
    display:inline-block;
    width:16px;
    height:16px;
    margin-right:3px;
    background-image:url("../images/miaoquan_ico.png");
    background-repeat:no-repeat;
    background-position:0 -245px;
    vertical-align:-3px !important;
    _vertical-align:0px;
}
.load-more{
    display:none;
    padding:80px 0;
    text-align:center;
}

/* = 加群
--------------------------------------------------------------------*/
.foot_qrcode{
    height:100px;
    position:fixed;
    bottom:0;
    width:100%;
    z-index:110;
}
.foot_qrcode .qrcode_bg{
    position:absolute;
    z-index:10;
    bottom:0;
    height:110px;
    width:100%;
    background-color:#000;
    opacity:0.75;
    filter:alpha(opacity=75);    
}

.qrcode_cot .qrcode_close{
    position:absolute;
    z-index:10;
    top:46px;
    right:0px;
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url(about:blank);
}
.qrcode_cot .qrcode_btn{
    position:absolute;
    top:0px;
    left:0px;
    display:inline-block;
    width:1000px;
    height:100px;
    background-image:url(about:blank); 
}
.qrcode_cot .quan_number{
    position:absolute;
    top:3px;
    right:162px;
    z-index:11;
    font-size:16px;
    font-family:Arial;
    color:#FFDF0A;
}