<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
												
                                                	<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='giftmanage' && ACTION_NAME=='set'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-31" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='seo'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='set' && ACTION_NAME=='seo'}true{else}false{/if}">
													<a href="index.php?r=manage/set/seo" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-31">礼物SEO设置</a>
												</li>

												
												
                                                
											</ul>
