<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: scroll;" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{obj('base/Base')->SEO('brand_keywords')}" />
<meta name="description" content="{$desc}" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="icon" type="image/ico" href="/favicon.ico?v=zhicms"/>
<link rel="stylesheet" href="{__PUBLIC__}web/css/jquery-ui.css">
<link media="all" rel="stylesheet" type="text/css" href="{__PUBLIC__}web/css/style.css">		
<title>{$title} | {obj('base/Base')->SEO('index_title')}</title>	</head>
{include file="app/index/view/index/devjs"}	
<script>browserRedirect('{url($route='index/m/index', $params=array())}');</script>
	<body>
		<div id="wrapper">
			<div id="popuplayer"></div>
												
{include file="app/index/view/index/topheader"}	
            <div id="main">
                <div class="clear"></div>
				<div class="maincheap" id="maincheap">
					

<style>
.cheaps{width:1110px;}
</style>

{include file="app/index/view/index/nav"}	
					

<div class="clear"></div>
<div class="cheapcontent">
{foreach $Page['list'] as $vo}
<div class="cheapitem rightborder">
	<div class="cheapimga">
		<a isconvert=1 target="_blank" href="{url($route='go/tb/itemiid/id=<id>', $params=array('id'=>$vo['goodsId']))}" onmousedown="cplog('{$vo['id']}','img')"><img class="cheapimg" src="{$vo['mainPic']}"></a>
	</div>
	<div class="clear"></div>
	<div class="cheapinfo">
		
		<div class="clear"></div>
		<div class="cheaptitle">
			<span class="cheaptitleword">{$vo['title']}</span>
		</div>
		<div class="clear"></div>
		<div class="cheapprice">
			<a isconvert=1 href="{url($route='go/tb/itemiid/id=<id>', $params=array('id'=>$vo['goodsId']))}" class="cheappriceword" href="{url($route='go/tb/itemiid/id=<id>', $params=array('id'=>$vo['goodsId']))}" target="_blank" onmousedown="cplog('419748','pricetext')">
				<span style="font-size:10px">券后&nbsp;&yen;</span>
				{$vo['actualPrice']}			</a>
			<a isconvert=1 href="{url($route='go/tb/itemiid/id=<id>', $params=array('id'=>$vo['goodsId']))}" target="_blank" class="cheapgotobuy" onmousedown="cplog('{$vo['id']}','gobuy')">去购买</a>
						<a class="cheapgotocoupon">领{$vo['couponPrice']}元券</a>
					</div>
	</div>
</div><!-- div.cheapitem -->

{/foreach}
</div>
<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="page">
{$Page['page']}</div><!-- div.page -->
				<div class="clear"></div>
			</div><!-- end of main -->
		
</div>			<div class="centerfix">
				<div id="watergototop" class="gototopstatic"></div>
			</div>
		</div>


   {include file="app/index/view/index/popnav"}
	{include file="app/index/view/index/footer"}
    {include file="app/index/view/index/footerjs"}
    </body>
</html>