<!DOCTYPE html>
<html style="overflow-x: hidden; overflow-y: scroll;" xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="keywords" content="{obj('base/Base')->SEO('rank_keywords')}" />
<meta name="description" content="{obj('base/Base')->SEO('rank_dec')}" />
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<link rel="stylesheet" href="{__PUBLIC__}web/css/jquery-ui.css">
<title>浏览器插件APP-{obj('base/Base')->SEO('index_title')}</title>
<link media="all" rel="stylesheet" type="text/css" href="{__PUBLIC__}web/css/style.css">	
</head>
	<body style="background-color:#ffffff;">
		<div id="wrapper">
			<div id="popuplayer"></div>
			
{include file="app/index/view/index/topheader"}	
            <div id="main">
            	<div class="widemainarea">
            		<div class="appstype">
            			<a class="appstypeitem" style="color:#ccc" href="{url($route='index/page/app', $params=array())}">手机客户端</a>
            			<div class="appstypeitem" style="color:#888">浏览器插件</div>
            		</div>
            		<div class="clear"></div>
            		<div class="appsitem">
            			<div class="appsinfo">
            				<div class="appsicon"><img src="{__PUBLIC__}web/images/chromeicon.png"></div>
	            			<div class="appstitle">{obj('base/Base')->SEO('short_title')}浏览器插件</div>
	            			<div class="clear"></div>
	            			<div class="appssubtitle">让每天1000条折扣一直在窗口右上角陪伴您</div>
	            			<div class="clear"></div>
	            			<a class="appsbtn" href="{obj('base/Base')->SiteConfig('crx')}" onclick="installChromeCrx()">点此安装</a>
	            			<div class="clear"></div>
	            			<div class="properexplorer">
	            				<p>适用浏览器：Chrome</p>
	            				<p>其它浏览器安装地址：<a href="{obj('base/Base')->SiteConfig('crx')}">360极速浏览器</a>、
	            					<a href="{obj('base/Base')->SiteConfig('crx')}">猎豹浏览器</a>、
	            					<a href="{obj('base/Base')->SiteConfig('crx')}">世界之窗极速版</a>
	            				</p>
	            				<p>2014.6.6更新&nbsp;|&nbsp;v1.1.5&nbsp;|&nbsp;71.4KB</p>
	            			</div>
	            			<div class="clear"></div>
	            			<div class="installtip">
	            				<p class="tipp" style="color:#444;font-size:22px;">什么？Chrome点击按钮没反应？安装不成功？</p>
	            				<p class="tipp">没办法，Google在国内，你懂的，唉，咱们这么来安装吧：</p>
	            				<p class="tipp">1、<a style="font-weight:bold;text-decoration: underline;" href="#">点此下载</a>该插件的安装包（或者右键点链接选择「链接另存为...」）</p>
	            				<p class="tipp">2、打开Chrome扩展管理页面（右上角三个横条状的菜单-&gt;工具-&gt;扩展程序）</p>
	            				<p class="tipp">3、将刚刚下载下来的安装包，拖到扩展管理页面中完成安装^_^</p>
	            			</div>
            			</div>
            			<div class="appsthumb"><img src="{__PUBLIC__}web/images/crxsnap.png"></div>
            		</div>
            		
            	</div>
            	
			</div><!-- end of main -->
			<div class="clear"></div>
			 <div style="display:none">{include file="app/index/view/index/popnav"}</div>
	{include file="app/index/view/index/footer"}
    {include file="app/index/view/index/footerjs"}
    </html>
