<div class="areatitleright"><span class="blockstart"></span><span class="areatitleword">分类 / 热词</span></div>
<div class="typefilterarea">
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">母婴</span>
		<a class="goodword" href="javascript:void(0)">奶粉</a>
		<a class="goodword" href="javascript:void(0)">尿裤</a>
		<a class="goodword" href="javascript:void(0)">奶瓶</a>
		<a class="goodword" href="javascript:void(0)">婴儿车</a>
		<a class="goodword" href="javascript:void(0)">吸奶器</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">日用</span>
		<a class="goodword" href="javascript:void(0)">洗发</a>
		<a class="goodword" href="javascript:void(0)">洗衣</a>
		<a class="goodword" href="javascript:void(0)">拉杆箱</a>
		<a class="goodword" href="javascript:void(0)">沐浴露</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">数码</span>
		<a class="goodword" href="javascript:void(0)">耳机</a>
		<a class="goodword" href="javascript:void(0)">相机</a>
		<a class="goodword" href="javascript:void(0)">手机</a>
		<a class="goodword" href="javascript:void(0)">笔记本</a>
		<a class="goodword" href="javascript:void(0)">存储卡</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">家电</span>
		<a class="goodword" href="javascript:void(0)">冰箱</a>
		<a class="goodword" href="javascript:void(0)">电视</a>
		<a class="goodword" href="javascript:void(0)">插座</a>
		<a class="goodword" href="javascript:void(0)">电饭煲</a>
		<a class="goodword" href="javascript:void(0)">电磁炉</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">食品</span>
		<a class="goodword" href="javascript:void(0)">牛奶</a>
		<a class="goodword" href="javascript:void(0)">酒</a>
		<a class="goodword" href="javascript:void(0)">饮料</a>
		<a class="goodword" href="javascript:void(0)">巧克力</a>
		<a class="goodword" href="javascript:void(0)">橄榄油</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">服装</span>
		<a class="goodword" href="javascript:void(0)">女装</a>
		<a class="goodword" href="javascript:void(0)">男装</a>
		<a class="goodword" href="javascript:void(0)">童装</a>
		<a class="goodword" href="javascript:void(0)">鞋</a>
		<a class="goodword" href="javascript:void(0)">袜</a>
		<a class="goodword" href="javascript:void(0)">T恤</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">美妆配饰</span>
		<a class="goodword" href="javascript:void(0)">防晒</a>
		<a class="goodword" href="javascript:void(0)">面膜</a>
		<a class="goodword" href="javascript:void(0)">手表</a>
		<a class="goodword" href="javascript:void(0)">太阳镜</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">运动户外</span>
		<a class="goodword" href="javascript:void(0)">跑鞋</a>
		<a class="goodword" href="javascript:void(0)">帐篷</a>
		<a class="goodword" href="javascript:void(0)">耐克</a>
		<a class="goodword" href="javascript:void(0)">阿迪</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">汽车</span>
		<a class="goodword" href="javascript:void(0)">机油</a>
		<a class="goodword" href="javascript:void(0)">导航</a>
		<a class="goodword" href="javascript:void(0)">安全座椅</a>
		<a class="goodword" href="javascript:void(0)">记录仪</a>
	</div>
	<div class="categroup">
		<span class="catedot"></span>
		<span class="cateword">促销</span>
		<a class="goodword" href="javascript:void(0)">白菜</a>
		<a class="goodword" href="javascript:void(0)">包邮</a>
		<a class="goodword" href="javascript:void(0)">限时抢购</a>
		<a class="goodword" href="javascript:void(0)">店庆</a>
		<a class="goodword" href="javascript:void(0)">封顶</a>
	</div>	
	

</div><div class="clear"></div>	
