<?php
        include CONFIG_PATH . 'siteconfig.php';
		$newData= new \ZhiCms\ext\Weixin;
        $host=$Siteinfo['apiurl']."?s=App.Duomai.list";
		$datas=obj("api/Api")->objectArray(json_decode($newData->http($host)));
        $ret=$datas['data']['list'];
        $count = 18;
        $randList=range(0, $count-1);
        $randList = array_rand($randList, 18);
        $tuijianArray = array();
        foreach ($randList as $key) {
         $tuijianArray[] = $ret[$key];
        }
        
?>

<div class="areatitleright"><span class="blockstart"></span><span class="areatitleword">常用网站导航</span></div>
<div class="sidenavsite">
{foreach $tuijianArray as $vo}

			<a class="sidenavitem" target="_blank" onmousedown="_hmt.push(['_trackEvent', 'mallnav', 'mallnav-1'])" href="{url($route='go/to/url/url=<url>', $params=array('url'=>$vo['pc_websites'][0]))}">
			<img class="sidenavitemimg" src="{$vo['logo']}"  width="114" height="60">
		
		</a>
 {/foreach}
		
	</div>
<div class="clear"></div>

<div class="clear"></div>