<?php
        include CONFIG_PATH . 'siteconfig.php';
		$newdata= new \ZhiCms\ext\weixin;
        $host=$Siteinfo['apiurl']."?s=App.Duomai.list";
		$datas=obj("api/Api")->object_array(json_decode($newdata->http($host)));
        $ret=$datas['data']['list'];
        $count = 18;
        $rand_list=range(0, $count-1);
        $rand_list = array_rand($rand_list, 18);
        $tuijian_array = array();
        foreach ($rand_list as $key) {
         $tuijian_array[] = $ret[$key];
        }
        
?>

<div class="areatitleright"><span class="blockstart"></span><span class="areatitleword">常用网站导航</span></div>
<div class="sidenavsite">
{foreach $tuijian_array as $vo}

			<a class="sidenavitem" target="_blank" onmousedown="_hmt.push(['_trackEvent', 'mallnav', 'mallnav-1'])" href="{url($route='go/to/url/url=<url>', $params=array('url'=>$vo['pc_websites'][0]))}">
			<img class="sidenavitemimg" src="{$vo['logo']}"  width="114" height="60">
		
		</a>
 {/foreach}
		
	</div>
<div class="clear"></div>

<div class="clear"></div>
