<aside class="smz-side">
  <section class="smz-side-mod">
    <h3 class="smz-side-title">热门推荐</h3>
    <ol class="smz-rank">
      {foreach $hot as $vo}
      <li><a href="{url($route='index/index/view/id=<id>', $params=array('id'=>$vo['id']))}" title="{$vo['title']}">{$vo['title']}</a></li>
      {/foreach}
    </ol>
  </section>
  <section class="smz-side-mod">
    <h3 class="smz-side-title">全部分类</h3>
    <div class="smz-tags">
      <?php
      for($i=1;$i<=14;$i++){
      $navlist=obj("index/index","controller")->lists($i,"y");
      $nlist= explode(",", $navlist);
      ?>
      <a class="smz-tag" href="{url($route='index/index/index/list=<list>', $params=array('list'=>$nlist['1']))}">{$nlist['0']}</a>
      <?php
      }
      ?>
    </div>
  </section>
  <section class="smz-side-mod">
    <h3 class="smz-side-title">客户端</h3>
    <div class="smz-tags">
      <a class="smz-tag" href="{url($route='index/page/app', $params=array())}">手机APP</a>
      <a class="smz-tag" href="{url($route='index/page/side', $params=array())}">浏览器插件</a>
    </div>
  </section>
</aside>
