

<div class="clear"></div>




</div>			</div>
	<div class="clear"></div>
	<div id="gototop" class="gototopstatic" style="display:none"></div>
</div>				</div><!-- end of mainright -->
				<div class="clear"></div>
				<div class="cutoff" style="margin-top:30px;border:0"></div>
			</div><!-- end of main -->
			<div class="footerarea">
	<div class="footareadis">
		<div class="footgroup">
			<div class="footgrouptitle">关于我们</div>
			<div class="clear"></div>
			<div class="footgroupcontent">{obj('base/Base')->SEO('about')}</div>
		</div>
		<div class="footgroup" style="width:200px">
			<div class="footgrouptitle">官方微博</div>
			<div class="clear"></div>
			<div class="footgroupcontent">
				<span class="footcontentword">优质折扣、小时热榜在微博<b style="color:#444">同步更新</b>，刷微博时也不错过。</span>
				<div class="clear"></div>
				<a href="{obj('base/Base')->SiteConfig('weibo')}" target="_blank"><img src="{__PUBLIC__}web/images/wbbannertiny.png"></a>
			</div>
		</div>
		<div class="footgroup" style="width:340px">
			<div class="footgrouptitle">微信公众号</div>
			<div class="clear"></div>
			<img class="footwxqrcode" src="{obj('base/Base')->SiteConfig('ewm')}">
			<div class="footgroupcontent" style="width:220px"><span class="footcontentword"><b style="color:#444">绝不扰民</b>的订阅号，只做<b style="color:#444">随身折扣搜索利器</b>！关注后试试回复一个词，小丢就会把最新搜索结果回复给你哦！</span></div>
		</div>
				<div class="footgroup" style="width:190px">
			<div class="footgrouptitle">网站信息</div>
			<div class="clear"></div>
			<div class="footgroupcontent">{obj('base/Base')->SEO('banquan')}</div>
			<div class="clear"></div>
						<div class="footgroupcontent">{obj('base/Base')->SEO('beian')}</div>
			<div class="clear"></div>
			<div class="clear"></div>
		</div>
	</div>
</div>