    <div class="sideproduct">
	<div class="sideprogress">
		<div class="sideprogressbar">
			<div class="calihave" id="calihave" style="width: {$tj['bfb']}px;"></div>
			<div class="calipred"></div>
		</div>
		<div class="clear"></div>
		<div class="sideprogresstext">
			<div class="progtxthave">天天有更新</div>
			<div class="progtxtpred">点分类查看更多</div>
		</div>
	</div>
	<div class="clear"></div>
	<a class="sideproductitem" href="{url($route='index/page/app', $params=array())}" target="_blank">
		<div class="prodicon prodiconm"></div>
		<div class="prodtexts">
			<div class="prodtexttitle">手机APP</div><span class="newsign">Hot!</span>
			<div class="clear"></div>
			<div class="prodtextsubtitle">iPhone &amp; Android</div>
		</div>
	</a>
	<div class="clear"></div>
	<a class="sideproductitem" href="{url($route='index/page/side', $params=array())}" target="_blank">
		<div class="prodicon prodiconchrome"></div>
		<div class="prodtexts">
			<div class="prodtexttitle">浏览器插件</div>
			<div class="clear"></div>
			<div class="prodtextsubtitle">时时提醒好折扣</div>
		</div>
	</a>
	
</div>
<div class="clear"></div>
<div class="clear"></div>