

			  {include file="app/manage/view/index/nav"}
              <link rel="stylesheet" href="{__PUBLIC__}assets/css/jquery-ui.min.css" />


				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>

			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.php?r=index/agent/channel">首页</a>
							</li>
							<li class="active">{$pagetext['0']}</li>
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- /.nav-search -->
					</div>

					<div class="page-content">
                    <div class="page-header">
							<h1>
								{$pagetext['0']}
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									{$pagetext['1']}
								</small>
							</h1>
						</div>
                   
					
                    
                    
                    
                    <!--s-->
                 

										<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
											{include file="app/manage/view/set/setglobal"}
											<div id="tabs-1" aria-labelledby="ui-id-29" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block; padding:0px">
										<!--d-->
                                       
                   <div class="widget-box" style="border-top:0px; margin-top:-0px;">
												
												<div class="widget-body">
													<div class="widget-main">
												<div class="alert alert-info">
											<button type="button" class="close" data-dismiss="alert">
												<i class="ace-icon fa fa-times"></i>
											</button>
											第三方接口主要用于转链，目前仅支持好京客(内含京东、拼多多、唯品会)、多麦联盟、亿起发联盟，使用相关功能请到各个官网申请账号!
											<br>
										</div>
											</div>
                  <form class="form-horizontal"  id="form" action="" method="post">
									<div class="widget-body">
													<div class="widget-main">
													
                                                        
                                                        	<div>
															<label  class="formtitle" for="form-field-8">大淘客appKey</label>

														<input type="text" name="appKey" id="form-field-1" value="{$ret['appKey']}" readonly="readonly" placeholder="大淘客key" class="form-control">
														</div>
														<div>
															<label  class="formtitle" for="form-field-8">大淘客appSecret</label>

														<input type="text" name="appSecret" id="form-field-1" value="{$ret['appSecret']}" readonly="readonly" placeholder="大淘客appKey" class="form-control">
														</div>
                                                      <hr>
                                                         <div>
															<label  class="formtitle" for="form-field-8" style="color:#F30">好京客(京东/拼多多/唯品会转链必填)</label>

														<input type="text" name="Apikey" id="form-field-1" value="{$ret['Apikey']}" placeholder="好京客Apikey" class="form-control">
														</div>
														<hr>
                                                        <div>
															<label  class="formtitle" for="form-field-8">多麦联盟网站id(即appkey)</label>

														<input type="text" name="siteid" id="form-field-1" value="{$ret['siteid']}" placeholder="多麦联盟网站id，不是用户id" class="form-control">
														</div>
                                                        	<div>
															<label  class="formtitle" for="form-field-8">多麦联盟密钥hash(即appsecret)</label>

														<input type="text" name="hash" id="form-field-1" value="{$ret['hash']}" placeholder="多麦联盟密钥hash" class="form-control">
														</div>

														

														
                                                    
                                                      

														</div>

                                              

													

								{$html}
                                
                                <div class="clearfix form-actions"  style="margin-bottom:-0px;" >
										<div class="col-md-offset-1 col-md-9">
											<input type="submit"  class="btn btn-info " id="save"  value="保存" />

											
										</div>
									</div>
                                    
                                                   </div>
								
                                </form>     

                                        <!--d-->
											</div>

										
									
                    <!--s-->
                                                        </div>
								

			

			<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="{__PUBLIC__}assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="{__PUBLIC__}assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
        <script src="{__PUBLIC__}assets/js/ace-extra.min.js"></script>
	<!-- ace scripts -->
	<!--[if !IE]> -->
		<script src="assets/js/jquery-2.1.4.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{__PUBLIC__}assets/js/bootstrap.min.js"></script>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="{__PUBLIC__}assets/js/excanvas.min.js"></script>
		<![endif]-->
		<script src="{__PUBLIC__}assets/js/jquery-ui.custom.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="{__PUBLIC__}assets/js/bootbox.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.easypiechart.min.js"></script>
		<script src="{__PUBLIC__}assets/js/jquery.gritter.min.js"></script>
		<script src="{__PUBLIC__}assets/js/spin.js"></script>

		<!-- ace scripts -->
		<script src="{__PUBLIC__}assets/js/ace-elements.min.js"></script>
		<script src="{__PUBLIC__}assets/js/ace.min.js"></script>




		<!-- inline scripts related to this page -->
        <link rel="stylesheet" href="{__PUBLIC__}global/message/css/jquery.my-message.1.1.css" />
		<script type="text/javascript" src="{__PUBLIC__}global/message/js/jquery.my-message.1.1.js"></script>
        <script src="{__PUBLIC__}global/layer/layer.js"></script>
        <script src="{__PUBLIC__}assets/js/chosen.jquery.min.js"></script>
        <script src="{__PUBLIC__}global/js/Validform_v5.3.2_min.js"></script>
        <script src="{__PUBLIC__}global/js/ajaxfileupload.js"></script>
        <script src="{__PUBLIC__}global/js/index.js"></script>
        
        <script>
		ZhiForm("#form","index.php?r=manage/set/api","保存中","保存","null");
		</script>

		
	</body>
</html>
