<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
												<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='index'}ui-tabs-active{/if} ui-state-active" role="tab" tabindex="0" aria-controls="tabs-1" aria-labelledby="ui-id-29" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='index'}true{else}false{/if}"  aria-expanded="{if CONTROLLER_NAME=='set' && ACTION_NAME=='index'}true{else}false{/if}">
													<a href="index.php?r=manage/set/index" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-29">基本设置</a>
												</li>
												


												<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='url'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-2" aria-labelledby="ui-id-30" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='url'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='set' && ACTION_NAME=='url'}true{else}false{/if}">
													<a href="index.php?r=manage/set/url" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-30">自定义url</a>
												</li>
                                                	<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='seo'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-31" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='seo'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='set' && ACTION_NAME=='seo'}true{else}false{/if}">
													<a href="index.php?r=manage/set/seo" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-31">全局SEO设置</a>
												</li>

												<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='api'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-31" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='api'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='api' && ACTION_NAME=='seo'}true{else}false{/if}">
													<a href="index.php?r=manage/set/api" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-31">接口设置</a>
												</li>
                                                
                                                
												<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='sms'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-4" aria-labelledby="ui-id-31" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='sms'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='api' && ACTION_NAME=='sms'}true{else}false{/if}">
													<a href="index.php?r=manage/set/sms" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-31">短信通道</a>
												</li>
												
												<li class="ui-state-default ui-corner-top {if CONTROLLER_NAME=='set' && ACTION_NAME=='js'}ui-tabs-active{/if}" role="tab" tabindex="-1" aria-controls="tabs-5" aria-labelledby="ui-id-30" aria-selected="{if CONTROLLER_NAME=='set' && ACTION_NAME=='js'}true{else}false{/if}" aria-expanded="{if CONTROLLER_NAME=='set' && ACTION_NAME=='js'}true{else}false{/if}">
													<a href="index.php?r=manage/set/js" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-30">统计益代码</a>
												</li>
												
                                                
											</ul>
