
/*zhicms 2018-02-25 19:06:25 三角形 */

/*首页左侧布局*/
.homemain{ width:1200px; height:auto;margin:0 auto; margin-top:80px;}
.leftnav{width:160px; float:left; height:auto; background:#ffffff; border-radius:5px;}
.leftnav ul li{height:70px; display:block; font-size:18px; font-family:'微软雅黑'; text-align:left; line-height:70px; text-align:left; padding:0 10px;}
.leftnav ul li a:link,.leftnav ul li a:visited,.leftnav ul li a:hover{border-bottom:1px solid #e9e9e9; display:block;}
.leftnavtopactive{ background:#404040; border-radius:5px 5px 0px 0px;}
.leftnavtopactive a:link,.leftnavtopactive a:visited{color:#ffffff}
.l_fixed{position:fixed; top:80px}
.gengun{position:fixed; top:80px; }

/*信息流布局*/
.homepageindex{ width:1020px; height:auto; float:right}
.homepagecenter{float:left; width:710px; height:auto}
.huan{width:100%; height:auto}
.homepagejsonlist{width:100%; height:100px;  margin-top:10px;}
.homejson{width:708px; height:158px; background:#ffffff; border-radius:5px; margin-bottom:10px;}
.homejsonbox{width:668px; height:118px; margin:0 auto; padding:20px;}
.homejsonleftimg{float:left;  }
.homejsonright{float:right; width:438px; height:auto}
.homejsontitle{ width:100%; height:85px;}
.homejsontitle a:link,.homejsontitle a:visited,.homejsontitle a:hover{font-size:20px; font-family:'微软雅黑'}
.homejsontitle a:hover{color:#33a4f7}
.homejsonbtnleft{ height:auto; float:left }
.homejsonbtnleft img{width:30px; height:30px; border-radius:30px; margin-right:8px; vertical-align:middle}
.homejsonbtnleft a:link,.homejsonbtnleft a:visited,.homejsonbtnleft a:hover{font-size:12px; color:#999999; vertical-align:middle}
.homejsonbtnright{float:right; line-height:25px;}
.homejsonbtnright span{margin-left:10px; font-size:12px; color:#999999}


.aboutlogo{width:100%; height:auto; text-align:left;}
.aboutsbox{width:248px; margin:0 auto; height:auto; margin-top:15px;}
.aboutlogo img{width:116px; height:35px;}








.indexbanner{width:100%; height:auto; overflow:hidden; margin-top:70px; text-align:center}
.huantu{position:relative; height:345px;}
.indextypelist{width:100%; height:auto; margin-top:30px;}
.typelist{width:950px; height:auto; margin:0 auto;}
.typelist li,.typelist li:hover{float:left; display:block; padding-left:10px; padding-right:10px; margin-right:15px; height:25px; text-align:center; cursor:pointer; line-height:25px; border-radius:24px; font-size:14px; margin-bottom:15px;}
.typelist li:hover,.typelistactive{ background:#fa4551; color:#FFF}
.indexitemsbox{width:100%; height:auto; clear:both;}
.indexitems{width:950px; height:auto; margin:0 auto}
.indexitems li{float:left; width:300px; height:238px;  margin-right:25px; margin-bottom:25px;}
.indexitems li:nth-child(3n){margin:0}
.indexitemsimg{width:300px; height:165px; overflow:hidden;}
.indexitemsimg img{width:300px; height:165px;border-radius:2px;-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease}
.indexitemsimg img,.indexitemsimg img:hover{width:300px; height:165px;}
.indexitemsimg img:hover{  transform: scale(1.4);  }
.indexitemstitle{width:100%; height:30px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;  line-height:30px; text-align:left; margin-top:5px;font-size:16px; color:#222; font-family:'微软雅黑';-webkit-transition: all .2s ease;
	transition: all .2s ease}
.userbox{width:100%; height:auto}
.indexuser{float:left; margin-top:5px; font-size:12px; color:#999; }
.indexuser img{width:24px; height:24px; border-radius:24px; margin-right:5px;vertical-align:middle}
.indexusericon{float:right; line-height:30px;}
.indexusericon span{font-size:12px;color:#999; margin-left:7px; vertical-align:middle}
.indexusericon span i{vertical-align:middle}

.layui-flow-more{width:100%; height:auto; clear:both}

