.pagebox{width:950px; margin:0 auto; height:auto;   margin-top:90px;}
.pageboxleftnav{float:left; width:172px; height:auto; border:1px solid #ebebeb}
.pageboxleftnavbox{width:110px; height:auto; margin:0 auto}
.pageboxleftnavbox li{    border-bottom: 1px dotted #ccc;padding: 5px 0; display:block; height:42px; line-height:42px;}
.pageboxleftnavbox li a:link,.pageboxleftnavbox li a:visited,.pageboxleftnavbox li a:hover   {color:#555}
.pageboxleftnavbox li a:hover,#onpagenavthis{color:#f84e4e}
.pageboxright{width:750px; height:auto;border:1px solid #ebebeb; float:right}
.pageboxtitle{ width:100%; height:40px;  border-bottom:2px solid #ebebeb}
.pageboxspantitle{display:block; height:40px; float:left; padding-left:5px; padding-right:5px; color:#333; font-size:20px; font-weight:bold; font-family:'微软雅黑'; border-bottom:2px solid #fa4551}
.pageboxthis{width:700px; height:200px; margin:0 auto; margin-top:25px; margin-bottom:25px;}

.pagebody{width:100%; height:auto; margin:0 auto; margin-top:30px; color:#6e6e6e; font-size:14px;}
