/* 全局样式 */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
    font-style: normal;
    font:inherit;
	vertical-align: baseline;
	background: transparent;
}

body 
{
background-color:#ffffff;
font-family: HelveicaNeue,STHeitiSC-Light;
}

img
{
	display: block;
	border: none;
}

li {
list-style: none;
}

a 
{
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
text-decoration:none;
color:#5db95b;
outline:none;
}

.clear
{
clear:both;
}


/* 整体框架 */

#wrapper
{
display:block;
float: left;
width: 100%;

}

#header
{
display: block;
background-color: #f5f5f5;
border-bottom: 1px #dddddd solid;
height:50px;
width: 100%;
z-index: 777;
}

#main
{
display:block;
float: left;
width: 100%;
margin-top: 0px;
}

#footer
{
display:block;
float: left;
width: 100%;
}

#funcarea
{
display:block;
float: left;
background-color: #ffffff;
border-bottom: 1px #eaeaea solid;
width: 100%;
}

#funcareafix
{
display:block;
float: left;
background-color: #f5f5f5;
border-bottom: 1px #dcdcdc solid;
width: 100%;
position: fixed;
top:0px;
z-index: 900;
}

#listarea
{
display:block;
float: left;
width: 100%;
}


/* 头部区域 */
.headerpic
{
width:100px;
display:block;
float: left;
}

.dheaderpic
{
width:150px;
display:block;
float: left;
}

.leftslogan
{
width:100px;
display:block;
float: left;
}

.righttopc
{
width:50px;
display:block;
float: right;
margin-right: 10px;
}

.rightslogan
{
width:100px;
display:block;
float: right;
margin-right: 14px;
}

.refreshpic
{
width:42px;
display:block;
float: right;
}

.search
{
width:42px;
display:block;
float: right;
}

.dtopc
{
display:block;
color:#bbbbbb;
font-size: 10px;
width:100px;
margin-top: 20px;
margin-left: -50px;
margin-bottom: 60px;
text-align: center;
}

.channelentrance
{
display:block;
float: left;
margin-left: 7px;
background-color:#5db95b;
color:#ffffff;
margin-top: 9px;
margin-bottom: 9px;
font-size: 13px;
padding: 5px 5px 5px 5px;
}

.currenttab
{
background-color:#999;
}

.othertab
{
background-color:#5db95b;
}

/* 搜索层 */
.translucent
{
position: fixed;
width:3000px;
height:2000px;
margin-top: -500px;
margin-left: -500px;
background-color:#000000;
z-index: 888;
opacity: 0.7;
}

.fixlayer
{
position: fixed;
margin-left: 50%;
margin-top: 10%;
z-index: 999;
}

.searcharea
{
margin-left: -130px;
width:260px;
height:120px;
background-color: #ffffff;
}

.searchareahead
{
height:40px;
width:100%;
background-color: #ffffff;
border-bottom: 1px dotted #d6d6d6;
}

.searchareaheadword
{
display: block;
float: left;
color:#888;
margin-left: 10px;
padding-top: 12px;
}

.searchareaheadclose
{
display: block;
float: right;
height:30px;
width:30px;
margin: 5px 5px 5px 5px;
}

.searchfixfield
{
display: block;
float: left;
height:30px;
width: 155px;
margin: 20px 0 20px 20px;
border: 1px solid #a2a2a2;
font-size: 14px;
}

.searchfixbtn
{
display: block;
float: left;
height:35px;
width:35px;
margin: 20px 10px 20px 20px;
}


/* 单条内容 */
.item
{
display:block;
float: left;
width: 100%;
border-bottom: 1px #eaeaea solid;
padding-top:2%;
padding-bottom: 2%;
}

.leftcontent
{
display:block;
float: left;
width:94%;
margin-top: 3%;
margin-left:3%;
margin-right:3%;
margin-bottom:3%;
}

.title
{
display:block;
float: left;
font-size: 16px;
font-weight: bold;
color: #444;
word-break:break-all;
}

.emphricepart
{
color:#5db95b;
}

.thumbnail
{
display:block;
float:left;
width:24%;
margin-top: 5%;
}

.infoandabstract
{
display:block;
width:73%;
float: left;
color: #666;
margin-left:5px;
margin-top: 5%;
}

.info
{
display:block;
float: right;
font-size: 12px;
color:#ccc;
margin-top: 3%;
}

.mallname
{
display:block;
float: left;
font-size: 12px;
color:#5db95b;
margin-top: 3%;
}

.abstract
{
display:block;
float: left;
font-size: 14px;
word-break:break-all;
}

.remoteabstract
{
display:block;
float: left;
font-size: 14px!important;
word-break:break-all;
width:100%!important;
margin-top: 3%;
}

.remoteabstract img
{
display:block;
float: left;
width:60%!important;
height:auto!important;
margin-left: 20%!important;
margin-right: 20%!important;
margin-top: 3%!important;
margin-bottom: 3%!important;
}

.remoteabstract p
{
display:block;
float: left;
font-size: 14px!important;
word-break:break-all;
margin-top: 2%!important;
margin-bottom: 2%!important;
}

.remotethumb
{
display:block;
float: left;
margin-top: 2%!important;
margin-bottom: 2%!important;
width:60%!important;
height:auto!important;
margin-left: 20%!important;
margin-right: 20%!important;
}

.remoteimgdiv
{
display:block;
text-align: center;
width: 100%;
}

.more
{
display:block;
float: right;
background-color: #f5f5f5;
margin-top: 5%;
margin-right: 3%;
padding-left: 6%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 2%;
}

.moreword
{
font-size: 14px;
color: #999;
}

.buyframe
{
display:block;
text-align: center;
width: 100%;
margin-top: 3%;
margin-bottom: 2%;
}

.buy
{
display:block;
float: right;
background-color: #5db95b;
margin-top: 5%;
padding-left: 6%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 2%;
}

.singlebuy
{
background-color: #5db95b;
margin-top: 5%;
padding-left: 6%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 2%;
}

.buyword
{
font-size: 14px;
color: #ffffff;
}

.waitingload
{
font-size: 14px;
color: #aeaeae;
display:block;
text-align: center;
width: 100%;
margin-top: 10%;
margin-bottom: 10%;
}

/* 加载区 */

.loadmore
{
display:block;
width: 200px;
float: left;
margin-left: -100px;
margin-top: 10%;
margin-bottom:20%;
background-color: #5db95b;
}

.loading
{
display:block;
width: 200px;
float: left;
margin-left: -100px;
margin-top: 10%;
margin-bottom:20%;
}

.loadmoreword
{
display:block;
color: #ffffff;
font-size: 16px;
margin-left: 40px;
margin-top: 7%;
margin-bottom: 7%;
}

.loadingicon
{
display:inline-block;
float: left;
clear: both;
margin-left: 88px;
margin-top: 6%;
margin-bottom: 8px;
width: 24px;
height: 24px;
}

.loadingmoreword
{
display:inline-block;
float: left;
color:#777;
font-size: 16px;
margin-left: 40px;
margin-top: 1px;
margin-bottom: 10%;
}

.middleline
{
margin-left: 50%;
}

/* 9块9 */
.cheapitem
{
display:block;
float: left;
width: 100%;
border-bottom: 1px #eaeaea solid;
padding-top:1%;
padding-bottom: 1%;
}

.cheapleftcontent
{
display:block;
float: left;
width:94%;
margin-top: 2%;
margin-left:3%;
margin-right:3%;
margin-bottom:2%;
}

.cheapthumbnail
{
display:block;
float:left;
width:24%;
margin-top: 3%;
}

.cheapinfoandabstract
{
display:block;
width:73%;
float: left;
color: #666;
margin-left:5px;
margin-top: 3%;
}

.cheapinfo
{
display:block;
float: left;
font-size: 16px;
color:#5db95b;
font-weight: bold;
margin-top: 6%;
margin-bottom: 2%;
}

.cheaptitle
{
display:block;
float: left;
font-size: 14px;
word-break:break-all;
color:#555;
}

.coupon
{
display:block;
float: right;
background-color: #e5f4e5;
margin-top: 5%;
margin-right: 2%;
padding-left: 6%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 2%;
}

.couponword
{
font-size: 14px;
color: #5db95b;
}

/* 风云榜 */
.rankitem
{
display:block;
float: left;
width: 100%;
border-bottom: 1px #eaeaea solid;
padding-top:1%;
padding-bottom: 1%;
}

.rankleftcontent
{
display:block;
float: left;
width:94%;
margin-top: 2%;
margin-left:3%;
margin-right:3%;
margin-bottom:2%;
}

.rankthumbnail
{
display:block;
float:left;
width:24%;
margin-top: 3%;
}

.rankinfoandabstract
{
display:block;
width:73%;
float: left;
color: #666;
margin-top: 1%;
}

.rankinfo
{
display:block;
float: left;
font-size: 14px;
color:#5db95b;
font-weight: bold;
margin-bottom: 2%;
}

.ranktitle
{
display:block;
float: left;
font-size: 14px;
word-break:break-all;
color:#555;
}

.rankhead
{
display:block;
float: left;
width: 100%;
border-bottom: 1px #eaeaea solid;
padding-top:3%;
padding-bottom: 3%;
background-color: #f5f5f5;
}

.rankheadtitle
{
margin-left: 3%;
margin-right: 3%;
color:#777;
font-size: 12px;
}

.rankmore
{
display:block;
float: right;
background-color: #f5f5f5;
margin-top: 5%;
margin-right: 3%;
padding-left: 6%;
padding-right: 6%;
padding-top: 2%;
padding-bottom: 2%;
}

.prevandnext
{
width:250px;
margin-left: -125px;
padding-top: 5px;
}

.pandvrank
{
display:block;
float: left;
width: 125px;
}

.pandvrankinvalid
{
display:block;
float: left;
}

.pandvrankinvalidword
{
display:block;
float: left;
color:#eaeaea;
font-size: 18px;
clear:both;
margin-top: 10px;
}

.pandvrankword
{
display:block;
float: left;
color:#5db95b;
font-size: 18px;
clear:both;
margin-top: 10px;
}

.pandvtimeword
{
display:block;
color:#bbbbbb;
font-size: 12px;
clear:both;
margin-top: 5px;
margin-bottom: 30px;
}

.floatr
{
float: right;
margin-right: 10px;
}

.floatl
{
float: left;
margin-left: 10px;
}


.mdmain
{
display:block;
float: left;
width:90%;
margin-top: 5%;
margin-left:5%;
margin-right:5%;
margin-bottom:5%;
}

.mdtitle
{
display:block;
float: left;
font-size: 21px;
font-weight: 400;
color: #333333;
line-height:145%;
}

.mdinfo
{
display:block;
float: left;
margin-top: 4%;
font-size: 14px;
word-break:break-all;
}

.mdabstract
{
display:block;
float: left;
margin-top: 4%;
word-break:break-all;
line-height:140%!important;
}

.mdabstract img
{
display:block;
float: left;
margin-top: 4%;
margin-bottom: 3%;
height: auto!important;
width: 96%!important;
margin-left: 2%!important;
/*border: 5px solid #f2f2f2;*/
}

#mdabstract p
{
margin-top: 2%!important;
line-height: 165%!important;
color: #48494d!important;
}

#htyhdetail, #jrzdmdetail
{
line-height: 165%!important;
color: #48494d!important;
}

.mdbcontent, .mdbcontent ._content span,.mdbcontent ._content, .jrzdmdetail, #zdm-detail
{
line-height: 165%!important;
color: #48494d!important;
}

.mdbcontent ._content
{
clear: both!important;
}

.mdimagediv img
{
display:block;
float: left;
margin-top: 4%;
margin-bottom: 3%;
height: auto!important;
width: 96%!important;
margin-left: 2%!important;
/*border: 5px solid #f2f2f2;*/
}

.mdgotobutton
{
display:block;
position:fixed;
bottom:0;
left:0;
width: 100%;
float: left;
background-color: #f8f8f8;
border-top: 1px solid #b2b2b2;
text-align: center;
}

.hairlines
{
border-width: 0.5px;
}

.mdgotobuttonword
{
display:block;
color: #5db95b;
font-size: 18px;
line-height: 50px;
}

.ritemsentrance
{
float:left;
display:block;
margin-top: 4%;
width: 100%;
background-color: #f5f5f5;
}

.ritemsentrancetext
{
float:left;
display:block;
margin-top: 3%;
margin-bottom: 3%;
margin-left: 3%;
margin-right: 3%;
width: 96%;
font-size: 14px;
color: #555;
}

.ritems
{
float:left;
display:block;
margin-top: 5%;
margin-bottom: 1%;
width: 100%;
background-color: #f5f5f5;
}

.ritemssectitle
{
float:left;
display:block;
margin-top: 4%;
margin-bottom: 4%;
margin-left: 4%;
margin-right: 4%;
width: 92%;
font-size: 14px;
line-height: 150%;
color: #48494d;
}

.eachritem
{
float:left;
display:block;
margin-bottom: 2%;
margin-left: 2%;
margin-right: 2%;
width: 96%;
font-size: 14px;
}

iframe
{
width:100%;
height:100%;
}

.info-li
{
display: none;
}

.p-c-zrxb
{
display: none;
}

.go-buy
{
display: none;
}

.searchtitle
{
font-size: 16px;
width: 100%;
}

.bannerarea
{
width: 100%;
border-bottom: 1px #dcdcdc solid;
}

.bannerimg
{
width: 100%;
}

.headdlbanner
{
width: 100%;
}

.headdlbannerimg
{
width: 100%;
height: auto;
}

.excel-goods
{
display:none;
}