<div class="dealhead cheaps">
	 <a class="dealheaditem <? if(CONTROLLER_NAME=='index' || CONTROLLER_NAME=='Index'){ ?>darkbk<?php }else{ ?>normalbk<? }?>" href="{url($route='index/index/index', $params=array())}" onmousedown="_hmt.push(['_trackEvent', 'dealnav', 'index.html']);"><span class="dealheadicon dhicon1"></span><span class="dealheaditemword">热门推荐</span><span class="dealheadnotifydot" style="display:none">●</span>
   <div class="clear"></div><span class=" <?php if(CONTROLLER_NAME=='index' || CONTROLLER_NAME=='Index'){?>currentarrow<?php }else{?>dealheadicon<?php }?> arrowadjust1"></span></a> 
  <a class="dealheaditem <? if(CONTROLLER_NAME=='brand'){ ?>darkbk<?php }else{ ?>normalbk<? }?>" href="{url($route='index/brand/index', $params=array())}" onmousedown="_hmt.push(['_trackEvent', 'dealnav', 'dealnav-us']);"><span class="dealheadicon dhicon2"></span><span class="dealheaditemword">大牌风尚</span>
   <div class="clear"></div><span class=" <?php if(CONTROLLER_NAME=='haitao'){?>currentarrow<?php }else{?>dealheadicon<?php }?> arrowadjust1"></span></a> 
   <a class="dealheaditem <? if(CONTROLLER_NAME=='cheaps'){ ?>darkbk<?php }else{ ?>normalbk<? }?>" href="{url($route='index/cheaps/index', $params=array())}" onmousedown="_hmt.push(['_trackEvent', 'dealnav', 'dealnav-99']);"><span class="dealheadicon dhicon4"></span><span class="dealheaditemword">优惠券</span>
   <div class="clear"></div><span class=" <?php if(CONTROLLER_NAME=='cheaps'){?>currentarrow<?php }else{?>dealheadicon<?php }?> arrowadjust1"></span></a>
  <a class="dealheaditem <? if(CONTROLLER_NAME=='rank'){ ?>darkbk<?php }else{ ?>normalbk<? }?>" href="{url($route='index/rank/index', $params=array())}" onmousedown="_hmt.push(['_trackEvent', 'dealnav', 'dealnav-rank']);"><span class="dealheadicon dhicon3"></span><span class="dealheaditemword">风云榜</span>
   <div class="clear"></div><span class=" <?php if(CONTROLLER_NAME=='rank'){?>currentarrow<?php }else{?>dealheadicon<?php }?> arrowadjust1"></span></a> 
  
		<div class="dealheadtype">
		<? if(CONTROLLER_NAME=='search'){ ?><span class="feedcount">查询词【{$key}】&nbsp;/第{if !$_GET['page']}1{else}{$_GET['page']}{/if}页</span><?php } ?>
	</div>
	</div>					<div class="clear"></div>
