<div id="header">
	<div class="headerholder">
		<div class="logo">
			<a id="smalllogo" class="slogo" onmousedown="_hmt.push(['_trackEvent', 'logo', 'logo'])" href="{url($route='index/index/index', $params=array())}"><img src="{obj('base/Base')->SiteConfig('logo')}" title="{obj('base/Base')->SEO('short_title')}" alt="{obj('base/Base')->SEO('short_title')}" width="248" height="52"></a>
		</div>
		<div class="headsearch">
			<input class="headsearchfield ui-autocomplete-input" onkeydown="clickButton(event)" id="headsearchfield" value="搜索全网折扣..." autocomplete="off" type="text">
			 <input type="button" value="" class="headsearchbutton" id="headsearchbutton" onclick="gosbtn()"/>
			<div class="clear"></div>
			<div class="headsuggest" id="headsuggest" style="display:none">
				<div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
			</div>
		</div>
		<div class="headernav">
			<a class="navdealstabhover pageitem currentpage" onmousedown="_hmt.push(['_trackEvent', 'topnav', 'topnav-index']);" href="{url($route='index/index/index', $params=array())}"><span class="pageitemword">首页</span></a>
			
			<a class="pageitem inactivepage" href="{url($route='index/page/index/id=<id>', $params=array("id"=>1))}"><span class="pageitemword">手机APP</span></a>
		</div>
		<span class="searchtip" id="searchtip"></span>
	</div>
</div>            <div class="clear"></div>
            <div id="main">
            {if $_COOKIE["welcome"]!="zhicms"}
            	<a class="floatbar" id="welcomebanner" href="javascript:void(0)">
	<img src="{__PUBLIC__}web/images/welcomebanner_ret.png" width="1110" height="150">
</a>
{/if}
                <div class="clear"></div>
